[2019-04-28 19:29] berinhard opened #1 "Index.html should add parsed script as JS"
Warning message from Firefox >>> `The script from “https://berinhard.github.io/sketches/s_179/__target__/s_179.js” was loaded even though its MIME type (“text/html”) is not a valid JavaScript MIME type.[Learn More] s_179`

The issue is with the `type="module"` in the script's js tag.
​

[2019-05-02 02:00] villares opened #3 "Something wrong with pop() [WEBGL constant is another issue]"
I'm sure we'll have 3D at some point :)

So let's put a small test example here:

[code]

I guess this is a bit early... but, who knows?

[2019-05-02 12:22] villares opened #4 "CLOSE constant undefined"
This one doesn't  work:

[code]

[2019-05-03 01:43] villares commented on #1
While you are working on the `index.html` generation:

`The character encoding of the HTML document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the page must be declared in the document or in the transfer protocol.`

[2019-05-03 02:38] berinhard commented on #1
Thanks @villares! I guess this have to do with the current raw version of `index.html`. It doesn't have the higher level tags such as `<html>`, the one which I should place the encoding. :+1:

[2019-05-03 02:46] berinhard commented on #4
We have to update the file [`pyp5js/pyp5js.py`](https://github.com/berinhard/pyp5js/blob/master/pyp5js/pyp5js.py#L787) to add the `CLOSE` constant. The same is valid for #3 as well. To do so, you just have to:

- Add the variables to the config file at [`pyp5js/assets/p5_variables.yml`](https://github.com/berinhard/pyp5js/blob/master/pyp5js/assets/p5_variables.yml);
- The run `$ python pyp5js/upda

[2019-05-03 02:47] villares commented on #4
I can confirm that `_P5_INSTANCE.CLOSE` works ;)

[2019-05-03 02:52] villares commented on #3
Using _P5_INSTANCE.WEBGL I get this:
`TypeError: _P5_INSTANCE.py_pop is not a function`

[2019-05-03 16:43] berinhard opened #5 "Respect docstring markup syntax"
Currently our docstrings aren't using docstring's markup such as `:param:`. More info [here](https://www.python.org/dev/peps/pep-0287/) and [here](https://romanvm.pythonanywhere.com/post/autodocumenting-your-python-code-sphinx-part-i-5/).

[2019-05-03 16:45] berinhard opened #6 "Monitor command to automatically run `pytop5js transcrypt`"
A new command that, given a directory, it should keep checking if any file have changed since its start. If so, it should run `pytop5js transcrypt` automatically to update the assets.

[2019-05-03 16:45] berinhard opened #7 "Allow `pytop5js` to run inside a sketch dir"
As described in the README:

The way the code is implemented, for now, you'll have to execute it from the same directory-level where my_sketch is - you can't run it from inside the my_sketch directory.

[2019-05-03 16:47] berinhard commented on #5
A very good example of a docstring for a function method:

[code]

[2019-05-04 00:11] berinhard commented on #1
The problem lives in the name of the directory we're saving our JS files. For some reason, assets with `__` in the filename are not working well with github.io. So, we have to rename the dir from `__target__` to `target`. Use [this commit](https://github.com/berinhard/sketches/commit/4545779b9ed0d013222762a0aff86443b3b75874) as reference.

[2019-05-04 02:16] #1 closed

[2019-05-04 02:16] #4 closed

[2019-05-04 02:16] #7 closed

[2019-05-04 14:16] berinhard opened #9 "Add first example to a github.io page"

[2019-05-04 14:17] #6 closed

[2019-05-04 14:55] berinhard commented on #9
Fixed. The examples are here: https://berinhard.github.io/pyp5js/examples/

[2019-05-04 15:01] #9 closed

[2019-05-04 15:32] berinhard opened #12 "Change install instructions to use pypi"
Since the project is already [on pypi](https://pypi.org/project/pyp5js/), we can use the regular `pip install pyp5js` command now.

[2019-05-05 01:11] villares opened #14 "Some constants are still missing"
Current workaround is to use `_P5_INSTANCE.` as a prefix to the original constant name.

Example:
[code]
And I have found where in p5.js all constants are defined :)
https://raw.githubusercontent.com/processing/p5.js/master/src/core/constants.js

[2019-05-05 14:12] villares opened #16 "Add support to p5.dom.js"
At this point, adding p5.dom.js to /static/ works, but I have to  use `_P5_INSTANCE.` to invoke the methods...

Could we leave a `P5` constant around for the moment to experiment with things?

Maybe this feature request could be more ambitious:
To add smart infrastructure to support third-party JS libraries...

[2019-05-05 14:29] villares opened #17 "Creating global variables inside functions doesn't work"
Or am I missing something?

[code]

[2019-05-05 15:19] villares commented on #14
Hey @berinhard, this is a bit ugly, but I have added it to my static folder, referenced it in `index.html` and it kind of works:

https://gist.github.com/villares/4c48a7493c51431ca51931d72c205f50

[2019-05-05 16:24] #12 closed

[2019-05-05 16:38] berinhard opened #18 "Add "Collaborate" section in README.MD"
Important things to address:

- link on how to setup python environment
- setup instructions
- instructions to contribute with new examples

[2019-05-05 16:39] berinhard commented on #16
Thanks for bringing this up! This would definitely be a good thing to work on :+1:

[2019-05-05 16:41] berinhard commented on #14
Thanks! Fixed by PR #15

[2019-05-05 16:41] #14 closed

[2019-05-05 16:42] berinhard commented on #17
I don't know if this is a real bug or a regular limitation from how transcrypt deals with globals variables. I'll try to make simpler proof of concept to check it.

[2019-05-05 17:04] berinhard commented on #3
I got the same error here, but at least the 3D is working for now WEBGL.

[2019-05-05 17:19] berinhard opened #19 "Python implementation for `keyPressed` or `mousePressed` are not being linked to P5.js"
The keyboard or mouse events are not being processd by the python functions. I discovered that while transcribing the examples from @esperanc [Brython Ide examples](https://github.com/esperanc/brythonide/tree/master/demoSketches).

Probably we'll have to create new functions `keyPressed` and `mouseEvent` in pytop5js.py with indirect calls to the Python implementation. @villares are there other met

[2019-05-05 17:25] berinhard commented on #19
Same for:

- `mouseDragged`
- `mouseReleased`

[2019-05-05 18:50] villares commented on #19
keyReleased()
mouseClicked()
mouseMoved()
mouseWheel(event)

There are also some "touch" events documented on the p5js reference for
mobile devices.

On Sun, 5 May 2019, 14:25 Bernardo Fontes, <notifications@github.com> wrote:

[2019-05-05 19:06] villares commented on #17
I have an idea for an ugly solution:
Scan code for the `global` keyword, parse the declared names and add them at the start of the code to be trancribed, each as a `name = None` line.

[2019-05-05 19:43] villares commented on #14
Sorry, this is not fixed yet.

It could be fixed by adding [constants.js](https://gist.github.com/villares/4c48a7493c51431ca51931d72c205f50) to assets and a proper reference in `index.html`.

There may be a better way of importing names in JS, directly from [p5js constants](https://raw.githubusercontent.com/processing/p5.js/master/src/core/constants.js) but I'm no sure how it might be done.

[2019-05-06 11:36] berinhard commented on #3
**Updates to ongoing investigation**

[2019-05-06 12:37] berinhard commented on #3
Transcrypt's `__pragma__` seemed to deal with the problem. The following snippet in `pyp5js/pytop5js.py` worked for me:

[code]

[2019-05-06 16:49] villares opened #20 "P5.Vector does not have Python Mode's operator overloading sugar"
Should we re-implement Processing Python Mode's PVector (now in pure Python)?
Could we just add the dunder methods (like `__add__()` ) hooks on transcrypt?
[And I confess that I find createVector() ugly/strange]

[2019-05-06 19:22] eduardostalinho commented on #3
Based on https://www.transcrypt.org/docs/html/special_facilities.html#id2, I think there are more instructions with this issue..

[2019-05-06 19:53] eduardostalinho opened #22 "Show python code in examples page."
I've seen the examples page on github.io and I think we should have the python code on the left side of the sketch result.
We can achieve this by adding an option to transcrypt command like `--render-code` to add the code to the compiled page with p5js running.

What do you think?

[2019-05-06 19:55] berinhard commented on #22
I'm :+1:  for this @eduardostalinho. I'm flagging this as an enhancement and as a first thought about how to implement this would be using a different `index.html` file with would have this part with the python code.

[2019-05-06 19:58] berinhard commented on #3
@eduardostalinho I think this is true only for methods from P5.js that matches with any of those aliases definition. I spent today's morning taking a look at them and it seemed that case only occurs with `p5.pop` function.

Anyway, if we have the same error in the future with other functions, we'll already know how to fix them. So, I'm closing this issue as solved! Thanks for your PR =]

[2019-05-06 19:58] #3 closed

[2019-05-06 20:01] berinhard commented on #17
**Maybe** this error can have something to do with how we're running the `transcrypt` command. From `$ transcrypt --help` I noticed this flag:

[code]

We're not using it, so, maybe it can have something to do with this `globals` issues.

[2019-05-06 23:49] berinhard commented on #17
More about how transcrypt [deals with globals](https://transcrypt.org/docs/html/supported_constructs.html?highlight=globals#global-variable-access-by-using-globals-variable-name)

[2019-05-07 03:00] villares opened #23 "Document differences between pyp5js, Processig Python Mode and p5js"
We should have a page for this.

I'll try to get started, inspired by the p5.js documentation of differences to Processing Java, and the amazing work by Allisson Parish: https://py.processing.org/tutorials/python-jython-java/

[2019-05-07 11:28] berinhard commented on #17
This is definitely an issue with Transcrypt and not pyp5js. I've created [an issue](https://github.com/QQuick/Transcrypt/issues/629) to document it and also to keep track of eventual updates on transcrypt dealing with global variables. But, for now, this issue will remain open as a "won't fix".

But, to use global variables, you'll have to "declare" them outside the functions. This is the same rea

[2019-05-07 11:42] villares commented on #17
Thanks!

I don't like the sound of "won't fix" much, maybe I'm just not used to this terminology :)

I agree it should be a documented issue, something like a "known issue", on #23, sure!

[2019-05-07 12:01] berinhard commented on #16
This [stackoverflow topic](https://stackoverflow.com/questions/44473861/how-to-add-p5-dom-to-p5-js-in-instance-mode) is somehow related to this work.

[2019-05-07 13:16] berinhard commented on #19
I did some upgrade on this issue and my WIP is under [the branch `feature/event-functions`](https://github.com/berinhard/pyp5js/tree/feature/event-functions). The main approach and strategy is defined in beb21bb5e81d2a406ec3f5eba70aa72a88620046, but I'm definitely not happy with the current implementation.

I've uploaded [an example](https://berinhard.github.io/sketches/#s_187) using this initial

[2019-05-07 22:38] berinhard commented on #19
@villares I think I'll implement an intermediary solution for this issue. What I'm thinking to do is to enable to use the events methods by defining config dictionary and passing it to `start_p5`. The final sketch would look like this:

[code]

As I said, this is the first step. My main goal is to consolidate `start_p5` internal API. Once it's working and supporting all the events, I think the nex

[2019-05-07 23:50] villares commented on #19
Yep! Looks good!

I'm very conflicted about having both the first `from pytop5js import *` and the ending `start_p5(setup, draw, even_methods)` when this is all over. As a teacher, the `start_p5()` is pedagogical... but it could easily be removed.

I would make the `temp_sketch.py` be named `target_sketch.py`, perhaps inside the *target* folder. Have you noticed Transcrypt is creating a duplicate

[2019-05-08 01:06] villares opened #26 "collections module is unavailable in Transcrypt"
I think I'll try this: http://www.collectionsjs.com/deque :)
and https://github.com/aureooms/js-data-structures

[2019-05-08 15:14] villares opened #27 "Question: should pyp5js CLI accept directory/sketch_name ?"
I wanted to create a new sketch further down the directory tree...
[code]
I'm not sure that would be very useful :)

[2019-05-08 16:47] villares opened #28 "more constants missing or regression?"
Constants like HSB and CENTER stopped working, it seems...
Using `'hsb'` and `'center'` for now.

[2019-05-08 23:13] villares commented on #19
Hi @berinhard there are more events we might need to consider, like: [`windowResized()`](https://p5js.org/reference/#/p5/windowResized)

[2019-05-08 23:44] villares commented on #16
Hey @berinhard ! I finally made an example of `p5.dom.js` working with **pyp5js** :)
https://abav.lugaralgum.com/sketch-a-day/2019/sketch_190507a/index.html

[2019-05-09 03:27] berinhard commented on #16
Thanks @villares! So it's simple, right? I mean, just by adding the js file to the `index.html` enabled the `p5.dom` API to be accessed via global `_P5_INSTANCE`. I'd like to hear yout thoughts about the command line interface to enable that. Do you think we should always add `p5.dom` or we should use a flag when creating the new sketch? Something like `pytop5js new sketch_name --with-p5.dom`?

I

[2019-05-09 04:08] #19 closed

[2019-05-09 04:09] berinhard commented on #23
Fixed by #25

[2019-05-09 04:09] #23 closed

[2019-05-09 04:23] berinhard commented on #27
I added this to the initial API but it's bugged =X

Working on this now at [feature/sketch-dir-cli](https://github.com/berinhard/pyp5js/tree/feature/sketch-dir-cli) branch

[2019-05-09 11:06] villares commented on #16
The most elegant solution, for me, would not involve the CLI, the user
would include:

`add('p5.dom.js')`

Or even `add('cdn...`

:)

On Thu, 9 May 2019, 00:27 Bernardo Fontes, <notifications@github.com> wrote:

[2019-05-09 13:29] berinhard commented on #28
@villares I'm really not being able to reproduce this error. I've even updated the example 005 by recompiling it in #29 and it's working. So, I'm closing this issue for now.

[2019-05-09 13:29] #28 closed

[2019-05-09 13:32] berinhard opened #30 "Enable SVG export"
@villares could you add the links you've already researched on this topic here so we can discuss possible ways to implement that?

[2019-05-09 13:50] berinhard opened #31 "Add support to p5.sound"
Requires a very similar work to #16

[2019-05-09 13:59] villares commented on #30
I think the main option is this:
https://github.com/zenozeng/p5.js-svg
(https://github.com/zenozeng/p5.js-svg/blob/master/doc/getting-started.md)
:)

[2019-05-09 14:23] eduardostalinho commented on #19
I think the solution can fit more.
Maybe if we make some refactoring extracting only things about events in a different module we will se the behaviour of the code emerging.

One thing that is happening is that when I develop a sketch with only `draw` and `setup`, I have to pass one dict argument that does not make sense for me, just because of events.
https://github.com/berinhard/pyp5js/blob/41c5

[2019-05-10 21:22] #27 closed

[2019-05-10 22:03] berinhard commented on #18
Fixed by a33c9c1f3ccfc6d12957ee09be4ccc8db1c82358 and 6693b4c0f93f3a22f8ab74d6797d6782ba2bbbb1

[2019-05-10 22:03] #18 closed

[2019-05-10 23:01] berinhard opened #33 "Add link from the live examples to their python code"
While #22 is not ready, I guess there's a smaller step to improve our examples. We could just add links from the html - after all they can have any html we want - to the related python code in the github repo.

[2019-05-10 23:07] #5 closed

[2019-05-11 00:58] villares commented on #33
I like this! Earlier when Processing was used to generate "Java applets", and even when ProcessingJS was a thing, the pages used to have a link to the code and a "made with Processing" tag.

[2019-05-11 22:25] berinhard commented on #16
@villares what if we have a global variable named `dom`. Something like an already imported module... So we could call the methods like:

[code]

I guess we can assume that we'll always provide the `p5.dom.js` and `p5.sound.js` for now. What do you think?

[2019-05-11 22:28] berinhard commented on #16
https://github.com/villares/sketch-a-day/tree/master/2019/sketch_190507a

[2019-05-11 22:31] berinhard commented on #16
Maybe @lucianoratamero could help us with this `add` approach as well. I think it will require some js import or something like that...

[2019-05-11 23:02] villares commented on #16
I think we are mixing many things here...

- Adding stuff to the index.html
-- should dom or sound be added by default? (perhaps no)
-- could we scan for mentions of dom or sound in order to add them?
-- add() syntax to add them?
-- magic comment to add them?  i.e. # include p5.dom.js (probably implemented by a pre-processor)

- global instance aliases and namespace issues
-- should we have a dom

[2019-05-13 23:21] berinhard opened #35 "Bug when running transcrypt or monitor from the sketch's dir"
Traceback:

[code]

Probably it's some error logic in `pyp5js/fs.py`

[2019-05-13 23:37] berinhard opened #36 "beginShape's constants are missing"
All `beginShape`'s constants are raising: `ReferenceError: LINES is not defined[Learn More]`.

I discovered this while working on an example to show how `beginShape` works ¬¬

To document, the code is here:

[code]

[2019-05-13 23:39] berinhard commented on #36
It's practically the same work as in 15712395a3de5d0c5d32d7470129c3e31e4cbbfc

[2019-05-14 11:37] berinhard opened #37 "p5.Vector static methods aren't accessible"
Rigth now we can't call ['p5.PVector.random2d`](https://p5js.org/reference/#/p5.Vector/random2D), for example.

@villares I think we could expose a global variable `p5` so this would work exactly as in the docs. What do you think? Right now, the way to use `PVector` is via `_P5_INSTANCE.PVector` but I really don't feel this is ideal =S

[2019-05-14 11:41] villares commented on #37
Go for it!

On Tue, 14 May 2019, 08:37 Bernardo Fontes, <notifications@github.com>
wrote:

[2019-05-14 12:26] #35 closed

[2019-05-14 14:06] berinhard commented on #36
This will lead to a greater work which is: mapping all missing constants and add them to [`pyp5js/assets/p5_reference.yml`](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/assets/p5_reference.yml).

This is required because, when I added the first variables and constants, I based myself on the [p5.js's reference page](https://p5js.org/reference/). But the thing is that there are constants

[2019-05-14 14:06] berinhard commented on #36
Missing constants so far:

[2019-05-14 14:38] berinhard commented on #36
All the docs are documented in ths [`constants.js` file](https://github.com/processing/p5.js/blob/master/src/core/constants.js).

[2019-05-14 17:05] berinhard commented on #37
Actually, we already have the global `p5` variable because of the `p5.js` file hehehe. So the code following code already works:

[code]

I'll leave this issue as open so we can add this example to our examples list as a Vector example.

[2019-05-14 17:06] berinhard commented on #37
The example is kind of cool to hehehe It look like there's a hole growing on your computer screen!

[2019-05-15 12:12] berinhard commented on #16
@villares I'm a huge +1 for the `add_library("p5.dom")` in the beginning of the sketch. Something like:

[code]

But this strategy bring us a challenge, and that's why I was tagging @lucianoratamero here. The thing is: this `add_library` function will never be executed as a python function, but as a JS one. This is because the `sketch.py` file never gets executed, but only "translated" to JS code.

[2019-05-18 17:53] villares commented on #37
Maybe you should close this issue then?

[2019-05-18 19:25] villares opened #41 "Encapsulate pyp5js as Processing Mode or perhaps as a Mu mode"
Maybe working out how to create a new Processing IDE mode is too much trouble (Java, Eclipse).

Then we could one day look at Mu, a simple Python editor for beginner programmers (https://codewith.mu/) and it has "modes"  too: https://mu.readthedocs.io/en/latest/modes.html

Here are the docs for developers willing to create a Mu mode: https://mu.readthedocs.io/en/latest/modes.html#create-a-new-mode

[2019-05-20 20:05] berinhard commented on #37
@villares I just have to add this code to our examples list. Once it's done, I'm cool to close it. As soon as my family's vistis season end (by the end of may) I'll get back to `pyp5js`. So far, I'm really busy being a Recife's touristic guide hehe

[2019-05-20 20:06] berinhard commented on #36
Fixed by #39

[2019-05-20 20:06] #36 closed

[2019-05-20 20:08] berinhard commented on #41
I'm a HUGE +1 1 for this functionality because I really think and agree with you that this will enable `pyp5js` to be widely used by people.

[2019-05-20 20:19] berinhard commented on #33
@villares did a very nice job with #40, but I think we can still improve this linking.

We could add something like [the Github ribbons](https://github.blog/2008-12-19-github-ribbons/) with "See sketch code" over the sketch result. This could be placed on the upper right top corner of the window to don't pollute to much the sketch canvas.

The ribbon could redirect the user to the source code from

[2019-05-20 20:22] berinhard commented on #26
@villares this is already under development in transcrypt. More info on [transcrypt's issue #442](https://github.com/QQuick/Transcrypt/issues/442). This is the good news, but the bad one is the last update on this issue was on last year's august =S

[2019-05-21 21:53] #33 closed

[2019-05-21 21:57] #37 closed

[2019-05-27 11:40] #22 closed

[2019-05-27 12:29] berinhard opened #44 "Monitor command is not working when running from the sketch dir"
The transcrypt command is working:

[code]

But the `monitor` isn't:

[code]

[2019-05-27 12:36] villares opened #45 "Tool to convert Python Mode .pyde code for use with pyp5js"
This is a proof of concept, running  inside Processing IDE, that converts simple 'single tab' code for use with pyp5js:
https://gist.github.com/villares/1b14997beef52de34069b91752faef40

@berinhard suggested some CL ideas:
`$ pyp5js from_processing /path/to/sketch.pyde`
or
`$ pyp5js from_processing /path/to/sketch.pyde -s my_new_sketch`
(the last one would update a sketch with the converted code)

[2019-05-27 13:20] villares opened #46 "width & height system variables unavailable inside setup()"
I believe that most system variables (like `mouseX` and `mouseY`) are assigned to their P5 equivalents in code that runs before `draw()`... this way `width` and `height` have value 100 inside `setup()`.

We need to find a way to update them immediately after `createCanvas()`,

[2019-05-27 14:32] villares commented on #44
@berinhard I guess this is the wrong place to make a feature request... but... could the `new` command have a `-m` or `--monitor` flag?

[2019-05-27 14:45] berinhard commented on #46
Just to have a reference, the following code should log 300 and 600 in the browser console:

[code]

[2019-05-27 14:46] berinhard commented on #46
Just to have a reference, the following p5.js code should work with pyp5js as well. It logs 300 and 600 in the browser console:

[code]

[2019-05-27 14:47] berinhard opened #47 "Add a --monitor flag on the new command to run the monitor command after creating the sketch"
From a @villares comment on #44:

Could the new command have a `-m` or `--monitor` flag?

[2019-05-28 00:01] villares commented on #16
A few questions to make us move forward on this issue:
- At what point is `index.html` built and by which script/routine?
- Could `monitor/transcript` commands trigger a rebuilding of `index.html`?

My guess is the `add_library(...` could be a dummy function (or maybe a test function that checks if the library is in place) serving as a token to be scanned on a Python pre-processing routine that th

[2019-05-28 00:03] villares commented on #41
There is yet another way... make it work as a web editor like Prof. Esperaça's Brython IDE...

[2019-05-28 00:45] #46 closed

[2019-05-28 11:22] #44 closed

[2019-05-28 11:32] #47 closed

[2019-05-28 11:44] berinhard commented on #47
Documented [here](https://berinhard.github.io/pyp5js/#usage)

[2019-05-28 11:55] berinhard commented on #45
@villares I was thinking if, by doing that, we're not giving ourselves some problems in the future... I'm basing my thought on your experience with you [recent port](https://twitter.com/villares/status/1133164823632580608) from Pyprocessing to pyp5js.

You had some issues with how Py2 handles numbers division differently from Py3, since py2 returns an integer while py3 returns a float as explained

[2019-05-28 12:00] berinhard commented on #16
`index.html` is built by the `pyp5js new` command and I don't think that rebuilding the index would be ideal. Because, let's think about the following scenario:

1 - I ran `$ pyp5js new my_sketch` to create my new sketch;
2 - I updated my sketch by implementing `draw` and `setup`;
3 - I decided to customize my index by adding some HTML to it (some titles, headers, footers, whatever...)
4 - Then I

[2019-05-28 12:02] villares commented on #45
Well, ok...

Or implement as an undocumented feature ;)

And make it print a BIG warning: EXPERIMENTAL! You are converting
incompatible Python 2 code. DO NOT EXPECT THIS TO WORK

On Tue, 28 May 2019, 08:55 Bernardo Fontes, <notifications@github.com>
wrote:

[2019-05-28 12:07] berinhard commented on #41
@villares strategically speaking, I think that the web editor is the ideal solution. We could host it somewhere and this would drastically reduce the barrier of usage because we won't require any installation process to experiment with pyp5js.

[2019-05-28 12:07] villares commented on #16
I see dynamically importing is more elegant, but this is not what the other
P5.js editors do...

And I think I've seed warnings on one of them telling the .html was
automatically generated...

You could just change html near the original p5.js loading...

Devil's advocate :)

On Tue, 28 May 2019, 09:00 Bernardo Fontes, <notifications@github.com>
wrote:

[2019-05-28 14:16] berinhard opened #51 "Simplify pytop5js usage"
Right now there's a lot of `pyp5js` internals being exposed and forcing the user to write additional python code rather than just the `setup` and `draw` functions or the event ones such as `keyPressed`. The initial ideas on this topic were address [in this comment on #19](https://github.com/berinhard/pyp5js/issues/19#issuecomment-490280035).

So our main goal with this issue is to have the followi

[2019-05-28 15:13] villares commented on #51
Could we add "from pytop5js import *" to the preparation?

Also, could you simply add to the dict inside the try block?

On Tue, 28 May 2019, 11:16 Bernardo Fontes, <notifications@github.com>
wrote:

[2019-05-28 16:38] berinhard commented on #51
Yes we could add the import but I don't feel comfortable doing that because ~ explicit is better than implicit ~ and I think that we're already "hiding" a lot of stuff

[2019-05-28 16:40] berinhard commented on #51
Oh, and another argument to don't hide the import is that other dependencies will have to use `from pytop5js import *` as well to get the benefits.

[2019-05-29 20:37] villares commented on #30
Hey @berinhard, maybe this is usefull too: https://forum.processing.org/two/discussion/27844/p5-js-export-to-svg

[2019-05-29 23:32] berinhard opened #52 "Monitor command is running the compiler only a single time"
Probably the error is [here](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/compiler.py#L64).

[2019-05-30 23:57] villares commented on #51
Could we have `from p5js import *` ?
(or, I don't know if it makes sense,  `import p5` ?)

[2019-05-31 15:56] berinhard commented on #51
I'd rather keep `pytop5js` for now. I'd like to save the better namespaces for when we have pyodide working.

[2019-05-31 21:13] berinhard commented on #52
Fixed by 26c8df45052a96d78340815cd2aaa275870186a4

[2019-05-31 21:13] #52 closed

[2019-05-31 21:15] berinhard commented on #51
I've worked on a proof of concept and it works!!!! To document it, here's the sketch code:

[code]

And here's the code for `sketch_target.py`:

[code]

[2019-05-31 21:22] berinhard commented on #51
Now, my to do list to fully support this feature:

- [ ] Create component to encapsulate all of the templates renderization;
- [ ] Generate `target_sketch.py` base template;
- [ ] Update `index.html` template to use `target_sketch.js` as the sketch file;
- [ ] `transcrypt` command have to copy `target_sketch.py` to the sketch's dir and use the `sketch_name` in the initial import;
- [ ] Delete `tar

[2019-06-01 19:52] #51 closed

[2019-06-01 21:00] berinhard commented on #16
Required work:

- [ ] Add all dom methods to yaml
- [ ] Add all dom variables to yaml
- [ ] Add all dom constants to yaml
- [ ] Update pytop5js.py
- [ ] Implement `add_library` function in `pytop5js.py` to inject the `script` tag
- [ ] Create an examples using the slider
- [ ] Add info on `add_library` to the readme

[2019-06-02 15:59] berinhard commented on #16
Possible implementation for `add_library`:

![Screen Shot 2019-05-28 at 19 52 14](https://user-images.githubusercontent.com/238223/58763803-34148900-8536-11e9-9e29-1f7a080997ac.png)

[2019-06-02 19:22] #16 closed

[2019-06-03 15:03] berinhard opened #56 "Migrate docs to readthedocs"
https://readthedocs.org/projects/python/

[2019-06-04 00:42] berinhard opened #57 "Error with new minified files"
Traceback:

[code]

[2019-06-04 02:13] berinhard commented on #57
Current `setup.py` implementation with `package_data` only works for `bdist`, not for `sdist`. There's more about this classic little Python's packaging issue in this [Stackoverflow answer](https://stackoverflow.com/questions/7522250/how-to-include-package-data-with-setuptools-distribute#comment21443047_14159430). We have to add `MANIFEST.in` to support `sdist` as well, as described in [the docs](

[2019-06-09 15:26] villares opened #58 "Advice on installing pyp5js"
I need advice on installing it again.

Should I have tried `sudo pip3 install`? I haven't because I had a bad experience beforem so I tried using `--user` as suggested by the first try... Then it looked like it was installed, then, it didn't work.

Please assume I have no idea of what I'm doing in the command line.

[code]

[2019-06-09 18:22] villares commented on #58
Same as issue #57

[2019-06-09 18:22] #58 closed

[2019-06-09 20:01] villares opened #59 "Something wrong with keyword arguments?"
Running the code below I get a 10x10 rect... I expected a 30x30 rect.

If I use `coisa(n, 30)` I get the 30x30 rect. Also `coisa(n)` gives me an expected 10x10 default behaviour,

[code]

[2019-06-09 20:36] villares opened #60 "mouseWheel() "event" not available"
The `mouseWheel` function is executed, but `TypeError: event is undefined`.

[code]

[2019-06-10 00:48] #57 closed

[2019-06-10 00:50] berinhard commented on #60
@villares it worked for me after removing the `event` parameter from the `mouseWheel` function definition. Maybe it's something to be documented at https://berinhard.github.io/pyp5js/#known-issues-and-differences-to-the-processingpy-and-p5js-ways-of-doing-things?

Could you do that? Maybe this same issue is happening with other event functions as well.

[2019-06-10 01:04] villares commented on #60
Gosh! JavaScript is just mad. Sure, I'll doc it.

[2019-06-10 12:21] #60 closed

[2019-06-10 12:29] berinhard commented on #59
Sorry! I've written down the comment but forgot to push the "Comment" button =S

@villares the issue is with how I'm running the transcrypt compiler. It seems I should use a `-k` flag to enable keyword arguments.

[2019-06-10 12:40] berinhard commented on #59
Fixed by caa9cb1cba8f3eeb2d1e3b216ec8dbfb89b6ec98. Now, the following sketch is a valid one:

[code]

Here's the output:

![Screenshot from 2019-06-10 09-39-44](https://user-images.githubusercontent.com/238223/59195955-bcf97900-8b63-11e9-9bd7-6a3f6b362336.png)

[2019-06-10 12:40] #59 closed

[2019-06-12 14:06] berinhard opened #62 "Error when removing __target__ dir under Windows"
@juditecypreste is testing `pyp5js` under Windows (thanks) and she ran into an error in the compiler. The compiler is not finding the `__target__` dir that was supposed to be created by Transcrypt during the python-to-js translation phase. The error is being raised by the [`clean_up` method](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/compiler.py#L50) when it tries to rename the `__tar

[2019-06-13 11:30] berinhard commented on #41
Reference: https://blog.jupyter.org/and-voil%C3%A0-f6a2c08a4a93

[2019-06-13 11:38] berinhard opened #63 "Print index file URI after creating new sketch"
Current:
`And open /home/bernardo/sketches/s_196/index.html on your browser to see yor results!`

Expected
`And open file:///home/bernardo/sketches/s_196/index.html on your browser to see yor results!`

[2019-06-13 13:55] berinhard opened #64 "Use a custom file extension for the sketch file"
Since the `sketch.py` file isn't a pure python one, I really think we could make this explicit by forcing a custom file extension. Processing already does that with the `.pyde` extension and I think we could do the same in `pyp5js` with a `.pyjs` extension.

[2019-06-13 14:00] berinhard opened #65 "Change pytop5js module name to match the lib name"
Currently, we have to import the p5.js API via:

[code]

But @villares has a very valid point that the way the import is being done now could be a complication for newcomers since the module name differs from the lib one. So, the ideal import should be:

[code]

[2019-06-16 21:58] berinhard commented on #64
Transcrypt has a total dependency on `.py` extension. So, this is an impossible thing right now =/

[2019-06-16 21:58] #64 closed

[2019-06-16 21:59] #63 closed

[2019-06-16 21:59] #65 closed

[2019-06-17 20:26] berinhard opened #67 "Run project's tests in Circle.ci"
- [x] Configure Circle.ci
- [x] Add badge in the README

[2019-06-17 20:38] berinhard opened #68 "Add pypi and Circle.ci badges to readme and docs"
[![PyPI version](https://badge.fury.io/py/pyp5js.svg)](https://badge.fury.io/py/pyp5js)

[![CircleCI](https://circleci.com/gh/berinhard/pyp5js.svg?style=svg)](https://circleci.com/gh/berinhard/pyp5js)

[2019-06-19 16:40] villares opened #69 "'disallowed MIME type (“text/html”)' error on localhost deployment of sketch"
I'm not sure this is a pyp5js issue or maybe a http.server issue, and I think someone told me something about it but I can't remember.

The point is when serving on localhost I'm getting this console error and it is a show-stopper for my studies:
[code]

[2019-06-21 19:09] villares opened #70 "loadImage might be broken"
This may be the cause of issue #69

Code example using `loadImage()` at: https://github.com/villares/para_plan
Served at: https://abav.lugaralgum.com/para_plan/

PS: I have tried several ways of referencing the asset...

[2019-07-02 01:35] villares commented on #69
I have this other sketch givim the same error message  (and this one does not contain loadImage):

https://github.com/villares/sketch-a-day/tree/master/2019/sketch_190630a/s190630web

[2019-07-15 12:01] villares opened #71 "Enhace main page with an iframe of the minimal example"
Should we call that minimal example on the main page example_00 and run it on an iframe there?

[2019-07-19 20:24] berinhard opened #72 "Firefox no longer ignores CORS for file URIs"
Since [this last update](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSRequestNotHttp?utm_source=devtools&utm_medium=firefox-cors-errors&utm_campaign=default), firefox now is forcing CORS even for local files. Because of that, now we may need an http server to serve the sketch's `index.html`

[2019-07-19 22:11] GoToLoop commented on #72
- Alternatively, go to Firefox's <kbd>about:config</kbd>.
- And in the search there paste: <kbd>privacy.file_unique_origin</kbd>.
- Double-click the entry to make its value `false`.

Another option would be to ask the p5js devs to automatically turn off CORS when the scheme is `file://`

[2019-07-22 15:49] berinhard commented on #72
Thanks for the comment @GoToLoop! You've saved my life a lot of times with your posts in the processing's forums and I'm very happy to know you're keeping one eye on `pyp5js`.

Thanks for documenting this configuration alternative. It'll be very helpful until we have `pyp5js` properly dealing with that issue.

Turning off the `privacy.file_unique_origin` settings is what I'm doing so far to be abl

[2019-07-22 17:53] GoToLoop commented on #72
Actually the workaround was in the link you had posted:
https://Developer.Mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSRequestNotHttp#Local_File_Security_in_Firefox_68

[2019-08-12 17:07] berinhard opened #73 "Check viability of using Luca Damasco proof of concept with pyodide"
Recently, @villares sent me [a tweet](https://twitter.com/Lucapodular/status/1137731900863389696?s=19) from @luxapodular showing a proof of concept integrating p5.js with Python using Pyodide.

I really think we could use the strategy he proposes in his proof of concept in `pyp5js` to remove `transcrypt` depedency. This would be a **huge deal** because [many issues](https://github.com/berinhard/py

[2019-08-14 01:01] jeremydouglass commented on #73
https://luxapodular.github.io/Py5.js/ looks great -- especially given the many things that transcrypt can't import.

I think the demo is currently limited to 100x100 because size() isn't implemented so cutting a pasting some examples gives misleading results--but it is a great demo if you are aware of that limitation.

[2019-08-14 20:31] jeremydouglass commented on #41
Both are good ideas. I actually like the mode approach through Contributions Manager -- although for teaching and play, sending people to a website like the p5.js web editor is wonderfully convenient.

Mode developer documentation is sorely lacking, unfortunately. I have just start added up some basic mode development documentation here:

https://github.com/processing/processing/wiki/Mode-Overview

[2019-08-14 20:39] berinhard commented on #41
Thanks for the reference @jeremydouglass :+1:

[2019-08-15 11:08] jtpio commented on #73
This looks very promising.

It would be great to build on top of this indeed, so `pyp5js` can be reused in various environments (as an example [ipyp5](https://github.com/jtpio/ipyp5) is an attempt at making p5 work in Jupyter notebooks with Jupyter widgets)

[2019-08-21 01:19] villares commented on #73
@jeremydouglass try `createCanvas()` (from p5js.org) instead of `size()`, I think it's working!

[code]

[2019-08-29 17:17] lucasns97 opened #74 "Error with pyaml"
[code]

[2019-09-15 22:08] berinhard commented on #74
Sorry @lucasns97 I wasn't able to reproduce this issue =/

[2019-09-15 22:08] #74 closed

[2019-09-15 22:18] berinhard commented on #72
### How to fix this issue

My idea is to change the `monitor` to also run a simple HTTP server. For example:

[code]

When I run this command from inside a sketch's directory, I can already see the results by accessing `http://localhost:8000/`. But, in my opinion, this command requires extra knowledge beyond `pyp5js`'s API and because of that it's not user-friendly.

So, I'd like to keep the solut

[2019-09-15 22:33] berinhard commented on #69
@villares probably this error is closely related to #72, so I'm clossing this issue

[2019-09-15 22:33] #69 closed

[2019-09-15 22:35] berinhard commented on #71
I'm a +1 on having an iframe with a live example in the main page!

[2019-09-15 22:36] berinhard commented on #56
I don't think this is worthwhile for now...

[2019-09-15 22:36] #56 closed

[2019-09-15 22:40] berinhard commented on #45
@villares I had a few second thoughts on that! Now I really agree with this tool as a somehing to bring more people to use and to try `pyp5js` by just "translating" theirs `pyde` files. Sorry for not being that open in the first time.

Anyway, what do you think about this one? What do you think about something like:

[code]

[2019-09-23 20:35] turicas commented on #72
We could use gunicorn (importing from Python as a library), like in: http://docs.gunicorn.org/en/stable/custom.html

[2019-10-04 22:05] #72 closed

[2019-10-06 17:27] #67 closed

[2019-10-06 17:31] berinhard opened #79 "Use Jinja2's template inheritance for the web app templates"
Currtenly, [all the templates](https://github.com/berinhard/pyp5js/tree/develop/pyp5js/http/templates) used by de dev server are hardcoded beause a `base.html` doesn't exist.

The goal of this ticket is to refactor them to [extend from a base template](https://jinja.palletsprojects.com/en/2.10.x/templates/#base-template).

[2019-10-06 17:36] berinhard opened #80 "Add a minimal CSS structure to the web server app"
Maybe it would be better to work on this issue after #79  is done because both of them have a similar goal: to improve the web interface. I don't want to add flashing buttons, colors or very complicated stuff 'cause I'm a fan of the [brutalist or minmalist web](https://brutalistwebsites.com/). My main goals here are:

- Use [basscss](https://basscss.com/) to organize the content disposion;
- A les

[2019-10-06 17:52] berinhard opened #81 "Unit test the http.web_app code"
The web application doesn't have a single test and this is not ideal hehe. The tests scenarios for each one of the routes are listed bellow. [This series](https://damyanon.net/post/flask-series-testing/) can work as a quick reference on how to test Flask application.

### Route /
- Ensure the sketches are being listed with valid links

### Route /new-sketch/
- On GET should render the new sketch f

[2019-10-06 17:57] berinhard opened #82 "Forbid access to files from outside the sketch dir"
During the [refactor](https://github.com/berinhard/pyp5js/pull/77/) to replace the raw HTTP server by Flask, one of the [security checks](https://github.com/berinhard/pyp5js/pull/77/files#diff-65cfa795bd7eb9d56cf4710094572166L87-L91) was forgotten. A similar check should be done [here](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/web_app.py#L58) and return a 403 if the user is tryi

[2019-10-06 18:03] berinhard opened #83 "Run integration tests in Circle.ci"
Currenty we're only using Circle.CI to run the tests (#67). It would be nice to also test the build process. My rough notion of steps to do so are:

- create a venv;
- really install pyp5js in the venv (`python setup.py install`);
- run `pyp5js new foo`;
- run `pyp5js transcrypt foo`;
- make sure all the files were created as expected;

For the last step, maybe we could add a script in the `utils`

[2019-10-06 18:05] #68 closed

[2019-10-06 19:17] berinhard opened #84 "Sketch names must always start with letters"
Because the sketch name is used [in an import statement](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/templates/target_sketch.py.template#L1), they must always start with letters and must only have alphanumeric chars.

The [`SketchFiles.__init__`](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/fs.py#L10) method should perform this check and raise a custom exception if it fails.

[2019-10-06 19:19] jodli commented on #79
I would like to try this now! :)

[2019-10-06 19:27] isabarros commented on #81
Can take a look on that @berinhard !

[2019-10-06 19:41] isabarros commented on #84
Can add that :)

[2019-10-06 20:30] Fireblend commented on #82
I can give this one a shot if you don't mind? :) should be a matter of using https://docs.python.org/3/library/os.path.html#os.path.realpath to get the canonical path and checking against the sketch directory as a prefix like in the pre-refactor version.

[2019-10-06 20:52] Fireblend commented on #82
Actually, thinking about this more, I don't think this is needed at all. You have already set the scope correctly for flask: it will automatically return a 404 for any requested resource that is out of the scope you have provided through the @app.route annotation ("/sketch/<string:sketch_name>/"). Can you provide an example of how this exploit could be made to work without explicitly checking for

[2019-10-06 23:24] isabarros commented on #84
Please check: https://github.com/berinhard/pyp5js/pull/86

[2019-10-07 01:03] villares opened #87 "something went wrong serving sketches on macOS"
I was creating a sketch with the new marvelous `pyp5js serve` service on Mac OS and got `Internal Server Error` in the browser when reaching for the sketch.

Maybe this message from the terminal can help shed light:
[code]

[2019-10-07 09:26] Olyno commented on #83
Hi, can you assign me this issue please?

[2019-10-07 13:13] berinhard commented on #87
@villares Hm, it seems that the `subprocess` call is not using the regular `python3.7` context. Take a look on how it changes to this `/usr/local/Cellar/` instead of using your `/usr/local/lib/python3.7/` path:

[code]

I'll try to get a MacOS with a few friends to test it out and check what's happening...

[2019-10-07 18:53] turicas commented on #87
I'm not sure how easy is to use transcrypt as a library, but we could execute all steps its command-line interface does by transcrypt's `__main__.py` implementation, like in:

[code]

[2019-10-07 18:59] turicas opened #88 "Create an sketch/archive format"
To make sharing sketches easy it would be nice to have an archive format (like a ZIP file) with specific files inside (the sketch code, the compiled code etc.); it'll make some things possible like downloading the sketch archive, sending to somebody so she can upload it using the Web interface.
For this to work we need to specify which files are going into the archive, its names, formats etc. The

[2019-10-07 19:17] turicas commented on #83
The following steps may be created as automated tests using [click's test API](http://click.palletsprojects.com/en/5.x/testing/):

- run pyp5js new foo;
- run pyp5js transcrypt foo;
- make sure all the files were created as expected;

So CircleCI execution could be limited to:

- Create venv
- Install pyp5js using code from repository
- Execute the test runner

[2019-10-07 22:22] berinhard opened #89 "Compile python sketch to p5.js via Python code instead of a subprocess call"
As @turicas suggested in #87:

I'm not sure how easy is to use transcrypt as a library, but we could execute all steps its command-line interface does by transcrypt's `__main__.py` implementation, like in:

[code]

[2019-10-07 22:23] berinhard commented on #87
@villares I've tested the lib under 2 different versions of MacOS and it worked properly =/

I'm closing this issue because I've created #89 that should fix this problem as well.

[2019-10-07 22:23] #87 closed

[2019-10-07 22:25] berinhard commented on #79
Fixed by #85

[2019-10-07 22:25] #79 closed

[2019-10-07 22:25] berinhard commented on #81
Sure @isabarros! I've assigned this to you =]

[2019-10-07 22:33] berinhard commented on #83
Wow I didn't know this click's test API. Thanks for the link @turicas.

@Olyno I've assigned this PR to you :+1:

[2019-10-07 22:45] berinhard commented on #82
@Fireblend I was thinking about [directory traversal attacks](https://www.acunetix.com/websitesecurity/directory-traversal/). I've tested it locally and it seems that Flask already handles this, but I'd feel more secure by double checking if the absolute path of the requested file has the same prefix as sketch directory.

For example, this URL was processed by my local server: localhost:8000/sketc

[2019-10-08 10:50] berinhard commented on #84
Fixed by #86

[2019-10-08 10:50] #84 closed

[2019-10-08 11:04] berinhard opened #90 "Keep Python functions with name conflict with p5.js working as expected"
There are 3 name conflicts between p5.js and Python for the following functions:

- `map`: [p5.js reference](https://p5js.org/reference/#/p5/map) VS [Python reference](https://docs.python.org/3.5/library/functions.html#map);
- `filter`: [p5.js reference](https://p5js.org/reference/#/p5/filter) VS [Python reference](https://docs.python.org/3.5/library/functions.html#filter);
- `set`: [p5.js referen

[2019-10-08 21:13] berinhard opened #91 "pyp5js do not work under Windows"
I'm not a Windows user, but after using a friend's computer to try `pyp5js` under windows everything went well, but the transcrypt's compilation. Here are the logs:

![2019-10-08](https://user-images.githubusercontent.com/238223/66433693-411b1a80-e9f7-11e9-9dbf-872679aa48d1.png)

![2019-10-08 (1)](https://user-images.githubusercontent.com/238223/66433700-45473800-e9f7-11e9-95e1-f691934b6cd6.png)

[2019-10-08 21:14] berinhard commented on #62
Closing this issue because now we've a complete log in #91

[2019-10-08 21:14] #62 closed

[2019-10-09 12:14] berinhard commented on #71
The iframe is live on https://berinhard.github.io/pyp5js/

Thanks @villares for the help on improving the docs!

[2019-10-09 12:14] #71 closed

[2019-10-10 21:27] berinhard opened #94 "Refactor config module to be an lazy-load object"
@isabarros raised a very valid point during [our discussion](https://github.com/berinhard/pyp5js/pull/93#discussion_r332812436) in the PR #93. To expand pyp5js configuration and also to be able to unit test the base `SKETCHBOOK_DIR` creation, we should change the existing `pytest.config` module to export a lazy-load object instead of giving direct access to its configuration constants. Django's [s

[2019-10-13 01:30] Olyno commented on #83
Did you make these changes before? I mean, the current code already contains these changes or not yet? @berinhard

[2019-10-14 14:36] berinhard commented on #83
@Olyno yep, the code already exposes this API. It's just a matter of configuring circle-ci to have this additional step on validating this API.

Currently the circle.ci only runs the unit tests, but we'd like to have a more user experience integration tests also. That's why we'd have to run the commands from the command line.

[2019-10-15 01:21] berinhard commented on #82
Fixed by #95

[2019-10-15 01:21] #82 closed

[2019-10-20 03:53] mosesmeirelles commented on #80
I would be happy to take this up @berinhard

[2019-10-20 13:42] berinhard commented on #80
Assigned @mosesmeirelles! Are we going to meet each other at PythonBrasil this year? I hope so!!!

[2019-10-20 20:32] mosesmeirelles commented on #80
Sure @berinhard I'll be there on days 25, 26 :smile:

[2019-10-20 21:44] mosesmeirelles opened #97 "Issue creating sketch with empty name"
Testing new sketch screen, found what I think to be an issue trying to create a sketch with empty name. Trying empty name results showing an error of `"<sketch_dir> already exists"`, tested on Ubuntu 18 and Windows 8 and got same scenario:

![Selection_062](https://user-images.githubusercontent.com/6470574/67166787-158a1f80-f369-11e9-9e1a-ba2dd02ee945.png)

when what I think it's expected is the e

[2019-10-20 22:59] isabarros commented on #97
@mosesmeirelles I think this is going to be fixed by https://github.com/berinhard/pyp5js/pull/93
@berinhard please check

[2019-10-20 23:08] isabarros commented on #90
@berinhard I can give that a try

[2019-10-20 23:44] mosesmeirelles commented on #97
Yes, I think so. That's nice, thanks @isabarros . I'll Just wait for @berinhard confirmation, so I can close this issue.

[2019-10-22 19:10] berinhard commented on #97
Precisely as @isabarros said. Fixed by #93

[2019-10-22 19:10] #97 closed

[2019-10-22 19:10] berinhard commented on #90
@isabarros go, go, go!

[2019-10-23 18:58] berinhard commented on #81
Fixed by #93

[2019-10-23 18:58] #81 closed

[2019-10-23 19:01] turicas opened #98 "`size` function is not available"
This function is widely known in the Processing world but is not available in pyp5js. To facilitate the migration it would be nice to have a shortcut to `createCanvas`.

Related: there would be nice to put all JS exceptions inside the rendered page (it took a while to figure out I needed to open inspector, then console to check if there is any error).

cc @villares

[2019-10-23 19:03] turicas opened #99 "Add sketch code to rendered page (read-only)"
Such as [the examples on docs](https://berinhard.github.io/pyp5js/examples/sketch_001/index.html).

[2019-10-23 19:06] turicas opened #100 "Sketch scaffolding must generate some image"
It's a bit frustrating to have a "hello world" which renders to an empty page.

[2019-10-25 14:33] #100 closed

[2019-10-26 14:57] berinhard commented on #99
This should be done the web app when rendering the template. So, instead of just returning the sketch's `index.html` file, it should render a base template with the Python code in the context.

Info here https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/web_app.py#L55

[2019-10-26 15:26] #80 closed

[2019-10-26 17:39] berinhard opened #102 "Add interface to edit sketch from the web app"
The issue #99 can evolve to an online code editor. The code can be rendered as a form input as a `textarea` with a loaded [ACE Editor](https://ace.c9.io/). With that, the very same endpoint to render the sketch could accept a `POST` request with the new code. The view then should:

1. Validate the python syntax with the [ast module](https://docs.python.org/3/library/ast.html);
2. Update the sketch

[2019-10-30 01:27] #99 closed

[2019-10-30 02:07] villares commented on #45
Hey, if you could provide me an entry point where my converter should run...

Or maybe, better, If I implement an independent `convert_pyde.py` you can validate and couch me on best practices?

[2019-10-30 20:07] #98 closed

[2019-10-30 20:12] berinhard commented on #45
Sure! Feel free to implement a `convert_pyde.py` script. Maybe you can add it to the `pyp5js/pre_compile/` dir and open a PR so we can discuss on the top of it.

[2019-11-03 15:50] #102 closed

[2019-11-03 22:03] berinhard opened #107 "Serve ACE editor files from Flask app"
Currently we're [relying on cdnjs](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/templates/view_sketch.html#L51) to serve the ACE editor JS files. Although this was a quick fix to add the editor, it's not ideal since it prevents people from using `pyp5js` offline.

So we have to serve IDE from the flask application as well to avoid this dependency.

[2019-11-05 03:19] villares commented on #20
This comment is to document that operator overloading needs special "pragma" to work on Transcrypt :(

[2019-11-05 03:25] villares opened #108 "500 Internal Server Error on some Linux installs"
On my installation I have this on the terminal after clicking on a sketch in the browser sketchbook page:

[code]

[2019-11-05 13:46] berinhard commented on #20
Hm, not necessarily. We can rely on turning on/off the operator overloading with __pragma__ as explained [in the docs](https://transcrypt.org/docs/html/special_facilities.html#operator-overloading-pragma-opov-and-pragma-noopov) or we can also change how we run the transcrypt command to add the `--opov` flag. By the flag descriptions, it can bring performance issues:

[code]

[2019-11-05 13:47] berinhard commented on #108
This is odd because you shouldn't be able to install `pyp5js` without transcrypt since it's a dependency. What's the terminal output when you simply run:

[code]

[2019-11-05 13:48] berinhard commented on #108
Maybe this error can also be fixed by #89.

[2019-11-05 13:54] berinhard opened #109 "Use splinter + headless selenium to test the sketch renderization"
After #103, the `pytop5js.py` file now has more logic attached to it. Since this file is transcribed to JS code, the proper way to test it would be with acceptance tests. For those we can use the [`splinter`](https://splinter.readthedocs.io/en/latest/) project with a [headless selenium webdriver](https://www.toolsqa.com/selenium-webdriver/headless-browser-testing-selenium-webdriver/).

The main te

[2020-04-12 19:42] villares opened #113 "clear() function not working"
The `clear()` function clears the background with black.

It is currently included in the names from **p5js** made acessible to *pyp5js* :
![image](https://user-images.githubusercontent.com/3694604/79078087-52ade980-7cdc-11ea-8c39-fdca55bd72c2.png)

But something somehow is broken:
![image](https://user-images.githubusercontent.com/3694604/79078116-87ba3c00-7cdc-11ea-8401-925d517b8d5f.png)

[2020-04-14 00:15] #90 closed

[2020-04-24 21:49] #91 closed

[2020-04-24 22:06] berinhard commented on #108
@villares this probably was fixed by #111 PR as well because it changes how the code executes `transcrypt` to a more system agnostic way. Also, we now have [CI tests](https://github.com/berinhard/pyp5js/actions/runs/87152825) to ensure the multiple environments (Windows, MacOs and Linux).

I'll release a new version of `pyp5js` next weed and it would be nice to know if this will be fixed.

[2020-04-24 23:26] villares commented on #108
`pyp5js serve` worked recently on my Xubuntu, so I guess we should close this!

[2020-04-24 23:26] #108 closed

[2020-04-26 22:40] berinhard commented on #70
@villares this issue is now fixed as documented in [example 009](https://berinhard.github.io/pyp5js/examples/sketch_009/index.html).

Please, update your `pyp5js` to version **0.4.2** with:

[code]

[2020-04-26 22:40] #70 closed

[2020-04-29 00:03] berinhard commented on #83
Marking this issue as done since now we have our [build process](https://github.com/berinhard/pyp5js/actions) on Github under Linux, Windows and MacOs.

[2020-04-29 00:03] #83 closed

[2020-04-29 00:05] berinhard opened #118 "Update p5.js version to 1.0.0"
Currently the [p5.js version used](https://github.com/berinhard/pyp5js/tree/develop/pyp5js/static/p5) is 0.8.0. It would be nice to upgrade it to 1.0.0

[2020-04-29 00:13] #113 closed

[2020-04-29 01:08] berinhard commented on #107
The same this is valid for the p5.js file

[2020-04-29 01:14] #118 closed

[2020-04-29 01:26] berinhard commented on #89
Closing this because, by the [main() method](https://github.com/QQuick/Transcrypt/blob/master/transcrypt/__main__.py#L69) from Transcrypt, we can come to the following conclusions:

1. It's very coupled with the `ArgParse`;
2. There's a lot of configuration being done inside this functions;
3. It'll require a good amount of code to fix this;

This issue was first created because of the bugs in Win

[2020-04-29 01:26] #89 closed

[2020-05-02 23:19] pedroqueiroga commented on #107
We could copy the pre-built version into the static js directory, kind of like [ace.js](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/static/js/ace.js) currently present but missing its dependencies. Alternatively, and I think this way would be better to keep up with changes, we could integrate npm in the current environment and use `make` calling `python setup.py` and `npm install`

[2020-05-02 23:40] pedroqueiroga commented on #107
I checked around and couldn't find a reference for p5.js as an external resource. Is this already solved?

[2020-05-23 13:08] villares opened #121 "Another Processing.py compatibility hack: keyPressed and mousePressed as variables"
I think we achieved a lot in terms of compatibility with Processing Python mode, so let's please have a look on making `keyPressed` and `mousePressed` work as aliases for `keyIsPressed` and `mouseIsPressed`.

This might require some gymnastics to make sure `mousePressed()` and  `keyPressed()` event functions are properly taken care of (p5js bindings) before the sketch actually runs, but I think it

[2020-06-13 18:39] #107 closed

[2020-06-14 15:34] berinhard commented on #73
Documenting a few important links:

- List of [pyodide releases](https://github.com/iodide-project/pyodide/releases) so we don't need to build it manually;
- @Luxapodular [wrapper](https://github.com/Luxapodular/Py5.js/blob/master/py5.js#L60) around p5.js with pyodide;
- Docs on [running pyodide from JS code](https://pyodide.readthedocs.io/en/latest/using_pyodide_from_javascript.html);
- [Javascri

[2020-06-14 20:08] #73 closed

[2020-06-14 20:17] berinhard opened #124 "Enable a pyodide mode"
This issue comes from the #123 proof of concept and it goals a full support of pyp5js with Pyodide.

## The backend

1. Use pyodide as the default "compiler" for pyp5js;
2. Add a flag to the `pyp5js new` command to enable people to keep on using Transcrypt;
2.1 This will probably result on a need of a "config" file for the sketch, something like Processing's `sketch.properties`. I think a JSON to

[2020-06-14 20:19] berinhard commented on #73
Hey everyone, I was able to implement a proof of concept and I fully documented it on #123 PR (sorry for any eventual english grammar error).

I've also created the issue #124 to be the start of the final implementation of pyodide + pyp5js. I'd be glad to help or pair with anyone interested on helping with this =)

[2020-06-14 20:24] berinhard commented on #124
One important thing to address is: why not improve @Luxapodular initial work? In my opinion the reasons are:

1. `pyp5js` already has a working wrapper covering all of `p5.js` API which works with pyodide as well;
2. `pyp5js` has a set of tools (web client and terminal CLI client) to facilitate people to manage their sketches and we can take advantage of that;

Anyway, I **REALLY** glad for @Luxap

[2020-07-20 23:36] berinhard opened #125 "Enable a PVector interfacea as in Processing Python Mode"
This issue was created after #114 and the object is to have a `PVector` implementation as described by [Processing's docs](https://processing.org/reference/PVector.html).

A possible approach is to add a `PVector` method to the `pyp5js/pyp5js.py` file to work a proxy for the `p5.Vector` implementation. Something similar to:

[code]

[2020-08-15 16:07] GokulNC opened #126 "FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Username\\sketchbook-pyp5js\\test\\__target__'"
After I `pip install pyp5js` and `pyp5js serve` and create a new sketch and go to that page, it shows me an `Internal Server Error`.

I'm on Windows. It seems like there's some issue with the way you're passing arguments to `transcrypt` to transpile `target_sketch.py`.

<details>

<summary>Error logs</summary>

[code]

</details>

I also tried manually heading to that directory and running: `pyp5j

[2020-08-15 16:15] GokulNC commented on #126
Ok. Turns out it's because of the space in the pathname. Transpiling manually with single quotes did it:

[code]

[2020-08-17 15:13] berinhard commented on #126
Thanks for the issue and the fix for it =) I'll try to fix this as soon as possible

[2020-08-25 23:32] #126 closed

[2020-08-25 23:38] berinhard commented on #126
Hi @GokulNC! I fixed this issue and release the [new 0.4.4 version](https://pypi.org/project/pyp5js/0.4.4/) with it. Now you should be able to use pyp5js again =)

[2020-08-26 06:45] GokulNC commented on #126
Thanks a lot! 👍
Have a good day brother.

[2020-09-08 01:29] villares opened #128 "feature request: collapsible/resizable code editor on web interface"
I was porting some sketches and the big ones are hard to check/test... otherwise, could we have another port serving just the sketch?

[2020-09-10 20:23] jeremydouglass commented on #128
Not sure exactly what kind of collapse / resize you want, but could what you want be done by changing the CSS styling on

https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/templates/view_sketch.html

or adding a show-hide / conceal-reveal html or javascript for that div?

[2020-09-10 20:34] villares commented on #128
Exactly what we need IMO :)

On Thu, 10 Sep 2020, 17:23 Jeremy Douglass, <notifications@github.com>
wrote:

[2020-09-10 21:05] berinhard commented on #128
Yes, that's right! @jeremydouglass pointed the way to go =)

This can be a very nice issue to people to work on during Python Brasil's sprints

[2020-11-03 17:53] berinhard commented on #73
I know there are some people in this issue interested in this discussion, so I invite you to take a loot in this demo I've released today:

https://berinhard.github.io/pyp5js/pyodide/

[2020-11-03 17:53] berinhard commented on #124
I know there are some people in this issue interested in this discussion, so I invite you to take a loot in this demo I've released today:

https://berinhard.github.io/pyp5js/pyodide/

[2020-11-07 14:27] berinhard opened #130 "Displays traceback/js errors in the browser"
Currently people have to keep an eye in their browser's console for both js errors (if using transcrypt) and python errors (if using pyodide).

The ideal scenario would be to have some type of HTML element displaying all error messages that pop up in the browser's console.

[2020-11-07 22:50] jvfe opened #132 "preload() not working as expected"
So I was following one of the examples on the p5js reference for playing with images. I couldn't get the basic preload() to work:

[code]

I get an `'Uncaught TypeError: img is null'` on line 11, which probably means that the sketch is not loading the image in the first place.

However the same doesn't happen if I load the image in setup():

[code]

Feel free to point out if I'm doing something wr

[2020-11-08 13:44] villares opened #134 "future feature discussion: multiple sketches in a single pyodide page"
As I was looking at how it would feel to have a sketch running o pyodide without the editor ([here](https://abav.lugaralgum.com/sketch-a-day/2020/sketch_2020_11_07pyodide/index.html)) I wonder if we could make many sketch instances work in single pyodide.

[2020-11-08 13:57] berinhard commented on #132
Thanks for opening this issue @jvfe! Probably `pyp5js` is [configuring the `preload`](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/pyp5js.py#L374) function wrongly. I feel that we would have to overwrite the pt.js skecth's `preload` function the [same way we're doing with the `setup` and `draw` [inside `sketch_setup` function](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/pyp5

[2020-11-08 14:04] berinhard commented on #134
@villares yes, we can. I think it's just a matter of:

1. Enabling the user to pass what is the HTML element id to place the skecth. Currently it uses [only `sketch-holder`](https://github.com/berinhard/pyp5js/blob/develop/docs/pyodide/index.html#L1223)
2. Stop using `window.instance` to store the p5.js sketch object and change it to a Javascript object. Something like:

[code]

The only thing to

[2020-11-08 14:09] berinhard commented on #132
Hey @jvfe, we have a pyp5js group in telegram to talk about the project among other subjects. If you want to join us there, feel free to send me a message over twitter, telegram or over here, and I can send you an invite.

[2020-11-08 14:38] jvfe opened #135 "p5.Vector methods not working in pyodide"
I've adapted the [p5js random2D example](https://p5js.org/reference/#/p5.Vector/random2D) to pyp5js:

[code]

And, while it runs fine locally, using transcrypt, it doesn't work in [the pyodide demo](https://berinhard.github.io/pyp5js/pyodide/). The error raised in the console is an AttributeError, `'JsBoundMethod' object has no attribute 'random2D'`. I've noticed the same is true for other p5.Vect

[2020-11-08 20:52] villares commented on #125
Trying my hand on a wrapper here:
https://gist.github.com/villares/e639a34eef756beba2f79a55203cd51e

[2020-11-09 02:06] villares commented on #125
Look how nice PVector tests!  https://github.com/jdf/processing.py/blob/master/testing/resources/test_pvector.py

[2020-11-09 21:03] jvfe opened #136 "get() function not working in transcrypt"
A simple example for extracting a section of an image, similar to the one in the [p5js reference](https://p5js.org/reference/#/p5/get), doesn't work inside of transcrypt:

[code]

The error raised is `Uncaught TypeError: _P5_INSTANCE.py_get is not a function`. I wasn't able to reproduce the same results in the pyodide demo.

Edit: An alternative using `img.get(50,90)` doesn't work either, raising

[2020-11-10 22:17] villares commented on #125
Hi @berinhard, as in Transcrypt we won't get the operator overloading, what do you think of a very thin helper layer for  p5.Vector using the PVector names?

Something like this:
[code]

[2020-11-11 13:03] berinhard commented on #125
This set of aliases is extremely valid IMHO! Give it a try @villares and I hope it'll work =)

[2020-11-11 13:51] berinhard commented on #125
@villares don't know if this can help you, but here's how we're setting attrs to isolate python functions such as `map`, `set` and `filter`: https://github.com/berinhard/pyp5js/blob/develop/pyp5js/python_functions.py

[2020-11-11 13:55] berinhard commented on #136
Thanks for opening this issue @jvfe!

This error has to do with missing transcrypt's `__pragma__` annotation. Take a look at this references and maybe they can help you to find a way through to fix this bug =)

- [StackOverflow post](https://stackoverflow.com/questions/48848059/retrieve-files-with-jquery-and-transcrypt) with the same error message and possible work around;
- Transcrypt's [aliases

[2020-11-11 13:58] berinhard commented on #17
Closing this issue since we've listed the limitations [in the docs](https://berinhard.github.io/pyp5js/#known-issues-and-differences-to-the-processingpy-and-p5js-ways-of-doing-things)

[2020-11-11 13:58] #17 closed

[2020-11-11 14:02] #26 closed

[2020-11-11 14:03] berinhard commented on #26
I also closed this one because [I documented this limitation]().

[2020-11-12 13:32] jvfe commented on #136
Thank you very much for your tips! I managed to implement the basic get() function using the example you gave me, and it worked flawlessly:

[code]

However, the class methods for get still don't work, e.g. `p5.Image.get()`, I couldn't find an example of how to implement these, can you give some direction on how I would go about implementing them? I'd be more than happy to solve this issue.

[2020-11-12 20:02] berinhard commented on #136
@jvfe can you paste a code snippet example?

[2020-11-12 20:52] berinhard commented on #136
@jvfe I've fixed this in the PR #139

Can you test it again to check if it's working for you? I've tested locally and it's working

[2020-11-12 20:56] jvfe commented on #136
Oh you were quicker than me on this one! 🤣

But, yep! I've checked out your PR locally and it's working fine, thank you!

[2020-11-12 22:10] #136 closed

[2020-11-19 19:33] jeremydouglass commented on #73
@berinhard -- sorry for I'm just seeing this now. This is extremely exciting!

Can you explain a bit how pyodide is being used here, and what the capabilities are? and/or prepopulate the demo window with a sample sketch that shows using the pyodide? I was able to draw an ellipse, but when for example I tried running:

[code]

It produced the browser console error:

[2020-11-25 00:03] casatir commented on #124
Hi there,

Just to let you know that I managed to wrap p5.js for [Basthon](https://basthon.fr) (which uses Pyodide under the hood). [This notebook](https://notebook.basthon.fr/?from=examples/p5.ipynb) is an example but you can find more at the end of [this gallery](https://basthon.fr/galerie.html).

The code is [here](https://framagit.org/casatir/basthon-kernel/-/tree/master/src/p5/p5). I took a r

[2020-11-25 14:51] berinhard commented on #124
@casatir thanks for your message! Your strategy is **very** interesting actually! It's way more pythonic than mine. Thanks for the reference and congrats for Basthon! It seems to be a cool project =)

[2020-12-04 01:17] villares opened #143 "Feature ideas... URL encoding like Prof. Esperança does"
So, this could be a nice way of sharing stuff... [example from SkulptIDE](https://esperanc.github.io/skulptIde/?lzsrc=MQKGAIEkDsBcFMBOBDAxrAlgN3uA5ohgCbgAOysCi04A7hrABbiyHLR4A28AzmGOABCyHvBIB7GqUTiCyALbgACgDoATCoCMKgCzhxAM3AAiAOLxoSCtlwARXhjzRj4AEYBPAQAkVQ8Y2g0AGskABohX1MZHh5wgClfABlkAFdXcIBhJOQALxykSQx+EAMZRWlxVF4eDA5wDHlScURYcAAqErLweQpmBqaW8Ap2NVCUIgx2PhBMbgzxFLhwAF5wTQAGEBAieCNRWBTSAAoASgAuEHA

[2020-12-08 08:51] flavioamieiro commented on #143
That's really cool!

[Hydra does the same as another example](https://hydra.ojack.xyz/?code=JTBBb3NjKDQwJTJDJTIwMCklMEEucG9zdGVyaXplKCklMEEubW9kdWxhdGUob3NjKCgpJTIwJTNEJTNFJTIwTWF0aC5zaW4odGltZSklMjAqJTIwMykpJTBBLm91dCgp).

[2020-12-17 13:23] villares opened #144 "disscussion/documentation of library ecossystems access"
I'd like to see somewhere (it could be on this issue or at the docs) some comments about where are we on the roadmap for using external libraries. This might seem very clear in the developers head but it seems unclear for me.

Which libs can be used already, what can be hacked in, what should have friendly support in the future?

Transcrypt mode:
-  We can use p5js DOM support out of the box.
-  H

[2021-01-07 15:27] villares commented on #143
@flavioamieiro, @eduardostalinho, would you like to try and hack something? My Javascript skills are poor..

My idea is like this:
(1) A JS function to encode the content of the current editor-widget at berinhard.github.io/pyp5js/pyodide/ as a URL safe string
(2) Another version of the berinhard.github.io/pyp5js/pyodide/ page that gets the code from the URL instead of the editor-widget
(3) A butto

[2021-01-07 15:56] villares commented on #20
I know this is of no importance/priority at all, jut to record a silly crazy naïve idea for adding experimental somewhat-"local" operator overloading on Transcrypt (could be activated with a -experimentalopov flag).
- Read all code looking for names in lines with the PVector name.
- Read again looking for names in lines containing those names.
- Envelop code blocks containing the found names or th

[2021-01-22 00:33] villares opened #146 "fresh install issue on Linux"
Sorry to bear bad news, but a fresh install on a new machine, running `pyp5js serve` then the demo new sketch:

[code]

![image](https://user-images.githubusercontent.com/3694604/105429300-e6c7bc80-5c2f-11eb-807f-7f74c6c17c05.png)

[2021-02-07 15:23] kylepollina commented on #3
Hi all, I think this issue might have to open up again, or at least as a separate issue.

[p5.Renderer](https://p5js.org/reference/#/p5.Renderer) objects also contain `pop()` and `clear()` methods that are renamed during the transcrypt stage. For example, a simple Python script like this:

[code]
will get compiled into this equivalent Javascript

[code]

Which will result in the following error `U

[2021-02-07 18:01] kylepollina commented on #3
Oh you know what, nevermind. I now understand I can do this instead in my python script and it will work as expected:
[code]

The pragma just needs to be in my code instead of in the pyp5js library.

[2021-02-07 18:13] berinhard commented on #3
Thanks for figuring this out @kylepollina! Unfortunately pyodide support (#124) is not ready yet. Once we have this done, these transcrypt specific fixes won't be necessary anymore =]

[2021-03-03 13:22] #124 closed

[2021-03-03 13:51] berinhard commented on #146
@villares do you have more data on it? What distro are you using? Which pyp5js version you've installed?

I recently installed pyp5js' [latest version (0.5.1)](https://pypi.org/project/pyp5js/) in a Ubuntu 20.04 notebook and it worked fine for both Pyodide and Transcrypt sketches.

Can you try to install the most up-to-date version and confirm if this problem is still happening? If not, can I clos

[2021-03-03 13:54] berinhard opened #147 "Support event functions on Pyodide mode"
Currently the event functions are not working for Pyodide. The strategy defined in [pyodide's `start_p5`](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/templates/pyodide/target_sketch.js.template#L1139) **does not work** because it is a copy from transcrypt's strategy.

Probably we can do it in a way less complicated manner for pyp5js

[2021-03-03 13:56] villares commented on #146
I have changed distro, from Xubuntu to Manjaro XFCE só I have to start all over. I'll will close this for now, and reopen if I have any trouble.

[2021-03-03 13:56] #146 closed

[2021-03-03 13:57] berinhard opened #148 "Replace pyodide js code by a custom and local install"
Currently pyodide mode is being loaded via a public JS file. This was faster for me to focus on the changes pyp5js required to allow multiple python interpreters, but it's not ideal. Besides the fact that it prevents people from trying pyp5js offline, the current pyodide adds numpy and because of that it takes time to load the page.

The goal is to have a bare minimum pyodide install but allowing

[2021-03-03 14:03] berinhard opened #149 "Enable user to select interpreter when creating sketches via web interface"
The idea is to add a select input in the new sketch form listing Pyodide (as default) and Transcrypt options.

More about this can be found in this [TODO note](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/web_app.py#L45).

[2021-03-03 14:17] berinhard opened #150 "Support p5.dom under Pyodide mode"
I have a feeling that this is already working by default, but didn't have the time to check.

The goal is to have [p5.dom](https://p5js.org/reference/#/libraries/p5.dom) working just fine with pyp5js. If we manage to implement this in a way all of the others p5 js libs to work as well  (p5.sound for example), is a **huge plus**.

[2021-03-03 14:22] berinhard commented on #144
### Transcrypt

No because transcrypt's process forces us to "compile" all the libraries we want to use together. That's why you have to use `add_library` method as [shown here](https://berinhard.github.io/pyp5js/examples/sketch_008/index.html).

Due to transcrypt's limitations and pyodide's simplifications, I tend have no interest on exploring this for now, but I don't think there's a way to impl

[2021-03-03 14:22] #144 closed

[2021-03-03 14:36] berinhard opened #151 "Improvements to pyodide demo"
Update the demo to have the same behavior as pyp5js' web sketch editor. So, we'd want to make sure that the demo page:

- [x] Have a button to clear the code
- [x] Have a button to run the code
- [x] `Ctrl/Cmn + .` is a shortcut to clear the code
- [x] `Ctrl/Cmn + Enter` is a shortcut to run the code
- [x] Add a placeholder sketch

It would also be nice to refactor the demo to not use inline JS co

[2021-03-03 15:19] berinhard commented on #73
Hi @jeremydouglass sorry for taking to long to get back to this, but I was focused on working to properly integrate pyp5js with Pyodide. Now the project support multiple interpreters, pyodide (the new default one) and transcrypt.

The pyodide's curent demo is really just an improvement on Luca's proof of concept so I could discover how big the impact of integrating pyp5js with it would be. Now the

[2021-03-03 15:21] berinhard commented on #73
Feel free to try the [new 0.5.1 version](https://pypi.org/project/pyp5js/) out:

[code]

And open http://127.0.0.1:5000/ to have fun =}

[2021-03-03 15:47] villares commented on #143
I asked @rodjuncode to have a look...
but I'm not sure how it would integrate on the locally served worklow (it would be good in the context of the publicly served page)

[2021-03-03 15:53] villares commented on #121
Proof of concept:

[code]

[2021-03-03 15:58] villares commented on #130
Hey @macarena, I bet you could add this single-handedly and with your eyes closed...

[2021-03-03 16:27] villares commented on #144
This is what I meant by "out of the box"! Just use` add_library` and you can use it (no downloads or extra installs).

[2021-03-03 18:49] berinhard commented on #143
Honestly, I don't think adding behavior to the demo, the way the code is right now, is the way to go. I'm saying this because now the code base already counts with 3 places to integrate p5.js and python: transcrypt, pyodide and pyodide demo. Now that we have pyodide running within the project I really think that the demo should stand for what it is, a demo.

Another think that leads me to think li

[2021-03-03 18:53] berinhard commented on #143
Just to be clear, I do think that this is an important and nice to have feature. But I'm not sure if pyp5js' repo and/or pyodide's demo is the best place to go with. Maybe it's better for us to focus on enabling people from extending pyp5js, instead of the project implementing everything.

For example, for this feature, if the user can add a custom JS file to the index.html or something like that,

[2021-03-03 21:47] villares commented on #143
Sure, don't bother with me... go on with your priorities. I totally understand.

For me, for teaching purposes, this is the kill feature, this would be much more useful to me than the local sketchbook (but I know the future of the project depends other core issues and the sketchboo), so I might try to get someone to help me with this on my fork.

[2021-03-04 02:35] #151 closed

[2021-03-04 23:01] berinhard commented on #150
I've checked and all examples using DOM api are working with pyodide too! The only bug I saw is already documented at #147

[2021-03-04 23:01] #150 closed

[2021-03-08 12:26] villares commented on #147
I was trying some crude workarounds (because this seems crucial for me using pyp5js in class) like adding dummy empty functions for each event function and then trying assignment to _P5_INSTANCE.function_name (I know I would be still missing the globals injection) but I couldn't figure out when _P5_INSTANCE is available and when it's not (sometimes it worked, sometimes I've got a Name Error).

[2021-03-08 12:40] berinhard commented on #147
@villares feel free to share any code samples you have from your attempts =S

[2021-04-11 18:31] MarcSkovMadsen opened #155 "Panel-Sketch"
Hi @berinhard

I am working on a python package called [panel-sketch](https://github.com/marcskovmadsen/panel-sketch).

[Panel](https://panel.holoviz.org/) is a framework for analytics apps in Python that I am a contributor too.

With `panel-sketch` I try to make it easy for #PyData, #PyViz including Jupyter and Panel users to use Python in the browser, notebook and VS Code. You can try it out via

[2021-04-14 18:57] berinhard opened #156 "Add GPL3 header to every single file in the project"
It's being common to have people vendoring pyp5js and **this is not a problem**. But, currently, the source code doesn't make it an easy thing to do and still be license compliant.

To avoid that, I want to add [GPL3 header](https://github.com/licenses/license-templates/blob/master/templates/gpl3-header.txt) to every file present in the project and/or generate by the compiler process.

Something s

[2021-04-14 19:12] berinhard commented on #155
Hi @MarcSkovMadsen, thanks for reaching me out!

I took a look at panel and also panel-sketch and I really enjoyed both projects. Congrats for your work! But talking specifically about pyp5js usage, I think there are some things to consider and I'd also like to ask for you help to grow the project.

One thing that can be a problem is the license usage because panel-sketch is licensed under MIT whi

[2021-04-14 19:23] berinhard opened #157 "To serve assets + pyodide JS/CSS files locally"
We're using CDN versions for several JS/CSS dependencies such as [pyodide](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/templates/pyodide/index.html#L12) and [jquery](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/http/templates/view_sketch.html#L61).

We should use local dependencies instead to pyp5js web editor can still be usable when offline.

[2021-04-17 11:20] berinhard commented on #20
I'm closing this issue because now pyp5js support operator overloading under pyodide (default) mode. I'm labeling this issue as "Transcrypt Requirement" and closing it.

[2021-04-17 11:20] #20 closed

[2021-04-17 11:20] berinhard commented on #125
Fixed by #137

[2021-04-17 11:20] #125 closed

[2021-04-17 11:26] berinhard opened #158 "Enable to use PVector outside setup and draw"
The PRs #137 and #135 (thanks @villares <3) introduced support to a `PVector` class to be closer to Processing's API. But a PVector can't be initialized outside `setup` or `draw` yet. Probably we'll have to introduce some lazy loading in the `__init__` to enable this.

Here's a sample code to reproduce the bug:

[code]

**Transcypt traceback**

[code]

**Pyodiode traceback**

[code]

[2021-04-17 14:27] berinhard commented on #147
Target code: https://berinhard.github.io/pyp5js/examples/sketch_006/index.html

[2021-04-17 14:31] villares commented on #135
The recent `PVector` wrapper addition, merged today, can access these methods, but it essential to be able to access the `p5js.org` way!

[2021-04-17 15:35] Vamoss commented on #130
Uma abordagem a ser considerado é interceptar a função javascript e injetar codigo nela.
https://stackoverflow.com/questions/9216441/intercept-calls-to-console-log-in-chrome

Em um projeto que vi interceptando o log, observei uma perda de performance considerável. Então já recomendo uma maneira de renderização desses logs no HTML da forma mais simples possível, sem parser ou tratamentos que sejam

[2021-04-17 15:52] villares opened #161 "Enable the mouseWheel() event function feature"
We need accesss to the  `.delta` attribute from the `p5js` event, inside `mouseWheel()`....

![image](https://user-images.githubusercontent.com/3694604/115118832-94224600-9f7b-11eb-8bc4-406d8d6b5050.png)

But it would be nice to add a `.getCount()` method to the event, if possible, for Java/Python mode compatibility...

![image](https://user-images.githubusercontent.com/3694604/115118801-676e2e80-

[2021-04-17 16:02] #147 closed

[2021-04-18 00:23] villares opened #163 "bikeshedding: the example code"
At this point we have, as our first example something like this (actually this is from the docs, at the demo the variable is `radius`, and that bothers me a bit):
[code]
My proposed change:

[code]

[2021-04-18 15:33] villares opened #164 "Event functions seem to be running more times than expected"
Minimal code to test issue:
[code]
Expected behaviour, `keyReleased()` should run only once when a key is released. In the screenshot below I saw it run three times.
Maybe related: Could it be that several `pyodide` instances are running simultaneously? I have tried this imeadiatly after refreshing the page, so it seems unlikely.
![image](https://user-images.githubusercontent.com/3694604/115151096

[2021-04-19 08:41] misolietavec opened #165 "Converting example sketches to pyodide"
I successfully compiled and tested examples sketch_000 - sketch 009 with pyodide (some with minor changes). Also I have a running example of simple Arkanoid (breakout) game. But there is a problem with sketch_010. I think this minimal code from p5.js reference shows it (not sure if `draw()` is needed, I tried with and without it):
[code]
In Firefox development console there is an error each time t

[2021-04-19 12:30] berinhard commented on #165
Hi @misolietavec! Thanks for opening this issue. Porting the examples to pyodide is something that I wanted to do for a while but didn't have time. If you're ok with that, feel free to open a PR with the new examples. I'll only ask you to organize it in a way we have 2 final working versions: one for transcrypt and another for pyodide. We could structure it as `docs/examples/transcrypt` and `docs/

[2021-04-19 12:32] berinhard commented on #164
Hm, not sure if there's a change of having multiple pyodide instances because pyp5js uses a single entry point to load it after the page loads. Will investigate this.

[2021-04-19 12:34] berinhard commented on #163
Feel free to open a PR

[2021-04-19 12:34] berinhard commented on #161
This should be added to both pyodide and transcrypt modes

[2021-04-19 12:35] berinhard commented on #163
I mean, I have no strong opinions about this. So, I won't be against changing this, although is highly unlikely that I'll spare some time to do so. A PR can be very handy =]

[2021-04-19 12:59] misolietavec commented on #165
@berinhard , thanks for comment. I think, the subdirectories in /docs/examples are OK. For now, I can make PR for pyodide versions of sketch_000 - sketch_009.

[2021-04-21 14:59] berinhard commented on #163
Fixed by #168

[2021-04-23 11:43] misolietavec commented on #165
As I wrote in first comment, there are error messages from browser Javascript console if using mouse event functions (e.g. mousePressed) with canvas elements (eg. buttons, even with canvas itself). What works for now is to define event function "globally" and check manually if mouse position is inside element, as in following code:
[code]
@berinhard, hope this will help with debugging :-)

[2021-04-23 14:07] misolietavec commented on #165
Using the (not so clever) strategy from previous comment I was able to compile sketch_010 with pyodide. See PR #167.

[2021-04-28 18:43] #163 closed

[2021-06-28 16:31] msawired commented on #130
Shining some light on this topic from OpenProcessing wisdom: Vamoss is correct that any interception and adding HTML elements to display errors and logs causes some performance drop, but it has its benefits as well. ie. user-friendliness etc. That's why I made it a user-preference option to toggle html console on/off.
Console overrides for console.log,  console.warn, console.error... works pretty

[2021-07-31 08:52] Gabbinetto opened #172 "Installing error"
While I install pyp5js it gives a error:
 `ERROR: Command errored out with exit status 1`

The full error code is very long, [here it is](https://pastebin.com/GjVtE6jZ).

I don't know what to do, help

[2021-08-05 00:29] villares commented on #172
Hi @Gabbinetto!

From your paste of the error, it seems you are on Windows, right?

@berinhard might not have Windows immediatly to test so, can you tell me more about how was your installation process so I might try to reproduce?

I might also need help from more Windows-knwledgeable people :)

I tried this and it worked for me:
- I installed Python by way of installing http:/Thonny.org
- Then I

[2021-08-06 03:34] pedroqueiroga commented on #172
From what I could see it errored here:

```653    error: could not create 'build\lib\transcrypt\demos\parcel_demo\node_modules\@babel\plugin-proposal-unicode-property-regex\test\fixtures\without-unicode-flag\script-extensions': Nome del file o estensione troppo lunga```

Perhaps increasing your system's max filename length would fix the issue?
https://docs.microsoft.com/en-us/windows/win32/fileio/

[2021-08-06 19:25] berinhard commented on #172
Thanks for the help @pedroqueiroga! I think the issue has to do with the link you've sent. From pyp5js' build status, the [installation is working for windows](https://github.com/berinhard/pyp5js/runs/2568368945?check_suite_focus=true).

[2021-08-08 21:25] pedroqueiroga commented on #172
Reinstalling Python and selecting that option might be a better option if you don't feel like changing registry keys, there should be an option to disable windows' max path length.
More information here: https://stackoverflow.com/questions/51624449/python-setup-disabling-path-length-limit-pros-and-cons

[2021-08-09 12:34] berinhard commented on #172
@Gabbinetto let us know if you succeeded with the install following any of these strategies.

[2021-08-13 00:25] villares commented on #164
Hi, sorry to report something has changed and the demo pyodide seems not to be responding to any event functions anymore :(
I have tested https://berinhard.github.io/pyp5js/pyodide/ with the same test code as above in this issue.

![image](https://user-images.githubusercontent.com/3694604/129285928-4a5623a2-2542-4c5c-a21c-35d6b2dba3a5.png)

[2021-09-09 09:50] Wildernesss commented on #41
Hi everyone.

I don't know if this thread is still active and if it's the relevant area to ask this question: could pyp5js be integrated into p5js online editor (editor.p5js.org). User would have the choice to write online code of a sketch in JS or Python. This polymorphism would be great. This would be a good mean to stop those sterile disputes between CS teacher concerning the choice of the BEST

[2021-09-09 12:15] tabreturn commented on #41
@Wildernesss -- something like this?
https://editor.computiful.org/

[2021-09-10 07:22] Wildernesss commented on #41
@tabreturn Woaaww!!! Fabulous. Who has made all this work, that's amazing... Yes, it's exactly that. What would be great would be to integrate this to https://editor.p5js.org/. This later adds the advantage of files storage and adding files to sketches, as well as the possibility to add HTML interface to sketches. Into the p5js oneline editor paradise there would a drop down list to choose between

[2021-09-10 07:38] tabreturn commented on #41
https://github.com/nickmcintyre

[2021-09-10 15:56] GoToLoop commented on #41
I'd much rather prefer PyP5Js to become the 4th engine mode for https://OpenProcessing.org/sketch/create. ^_^

[2021-09-10 16:41] villares commented on #41
Our friend Carlos/Vamoss has put Sinan from OpenProcessing  in contact with Bernardo from pyp5j, and it is a real possibility. But things are moving slowly, we could very much use your wisdom @GoToLoop to make this go forward. I think I might open a discussion and tag you there... cheers!

[2021-09-10 19:59] Wildernesss commented on #41
@GoToLoop It's another online editor that seems to be nice too. I don't know it enough to talk about it. But at first glance I just worry that in public schools like the one I teach CS couldn't afford it financially with small budget... For storage of assets, editor.p5js.org offers 250 MB free storage per account, what is rather comfortable for beginners making small multimedia sketches.  OpenProc

[2021-09-11 17:01] berinhard opened #176 "Removal of import pyp5js from transcrypt sketches"
The PR #175 refactored the base transcrypt/python files by moving them from the project's root directory to transcrypt's templates one (commit 0c29599). But there are further changes to make pyp5js internal API more consistent independently of the interpreter that's being used to render the sketch.

Currently, pyodide doesn't require the `from pyp5js import *` while transcrypt does. The idea of th

[2021-09-11 17:10] #149 closed

[2021-09-16 07:38] GoToLoop commented on #41
- When I voted for OpenProcessing I confess I didn't have schools in mind.
- I use OpenProcessing (and others) as a sketch gallery for others to check out.
- B/c Editor.p5js.org got a customized syntax linter it's more appropriate for teaching p5js.

- Actually there are more, such as http://p5js.SketchPad.cc for example.
- Before p5js, Processing Foundation didn't have any online sketch hosting s

[2021-09-30 03:04] lmerritt47 opened #179 "Jupyter Configuration"
Is there anyway to configure this plugin so that it can run in a jupyter notebook?

[2021-10-02 15:34] villares opened #180 "Online demo editor stopped working?"
https://berinhard.github.io/pyp5js/pyodide/

![image](https://user-images.githubusercontent.com/3694604/135723081-ddb2786a-f423-4fc8-b40d-51a4539eeab9.png)

My clumsy old & hacked fork at https://abav.lugaralgum.com/pyp5js/pyodide/
still works.

[2021-10-05 13:27] berinhard commented on #180
Thanks for the catch @villares! I worked on the docs updates recently and had to change the github pages to build from the `dev` branch instead of the `main` one. I rolled back and now it's working.

Anyway, I'll leave this issue open since I still have to fix this on the `dev` branch.

[2021-10-05 13:59] berinhard commented on #179
Hi @lmerritt47! Thanks for opening this discussion.

I'm not very familiar with jupyter notebook and I didn't spend any time trying to port pyp5js to it yet. Although I highly recommend people to do so =)

Recently, @ranoya, a professor from Brazil was able to [port it over ObservableHQ](https://observablehq.com/@ranoya/as-formas-mais-faceis-de-se-utilizar-processing-no-observab), so I think that

[2021-10-05 13:59] berinhard commented on #172
Closing this issue due to inactivity.

[2021-10-05 13:59] #172 closed

[2021-10-05 14:00] berinhard commented on #155
Closing this issue due to inactivity

[2021-10-05 14:07] berinhard commented on #41
Thanks a lot for all this discussion! As the maintainer, I'm currently more focused on finishing with the final fixes to pyodide integration and feel that I built myself a stable tool. Currently, having issues such as #147 makes me unmotivated to think about integrating pyp5js with any extra tool.

But although I see benefits on using p5JS editor, from the project's perspective, I think Open Proce

[2021-10-05 16:37] jtpio commented on #179
@lmerritt47 just a quick heads-up that you might be interested in this project: https://github.com/jtpio/p5-notebook

Which is based on the in-browser version of JupyterLab called JupyterLite: https://github.com/jupyterlite/jupyterlite/

JupyterLite has support for `p5.js` kernels running in the browser (in JavaScript), but also a Python kernel backed by Pyodide. It would be great to find a way to

[2021-10-06 23:42] #180 closed

[2021-10-11 21:49] jvfe commented on #157
Hi! I can probably work on this one.

But I wanted to ask if including JQuery as a project dependency is really necessary, since, from what I can see, it's only really being used [here in view_sketch.html](https://github.com/berinhard/pyp5js/blob/1ce3a4699f5a5d56567de25692566c39191ba2d5/pyp5js/http/templates/view_sketch.html#L87-L124), in some DOM manipulation that could easily be refactored to us

[2021-10-13 19:04] jvfe commented on #157
I completely agree with serving the other dependencies locally, it will greatly improve usability.

Just sent a PR: https://github.com/berinhard/pyp5js/pull/182 for what we discussed, thanks for the response!

[2021-10-14 15:38] #176 closed

[2021-10-16 14:31] berinhard commented on #161
@villares as in #164, the issue only happens with the demo editor mode. Here's a screen shot:

![Screenshot from 2021-10-16 11-23-38](https://user-images.githubusercontent.com/238223/137591338-8235d8db-2c0b-4567-9a6b-a2154095ef96.png)

Although we know it is a problem, I'm also de-prioritizing this issue by now to focus on Pyodide's support and integrations. I'm also removing this issue from [Pyod

[2021-10-16 14:40] berinhard commented on #135
Thanks @jvfe for documenting this. I tested this code both locally and in the demo editor and it worked in both envs. So, I'm closing this issue.

[2021-10-16 14:40] #135 closed

[2021-10-16 15:30] #161 closed

[2021-10-16 15:33] berinhard commented on #164
Even after merging #185 and updating the demo to use the most up to date version of pyodide's integration, the events are still being triggered multiple times **only in the demo editor**.

[2021-10-16 18:43] jvfe commented on #164
I'm taking a look at it but I don't see what might be the reason for these events getting called twice every time. I'll keep you updated if I find anything.

[2021-10-21 20:55] #164 closed

[2021-10-21 21:12] berinhard opened #188 "Refactor pyodide/transcrypt template files to inherit from base ones"
The templates files listed under [`pyp5js/templates/transcrypt`](https://github.com/berinhard/pyp5js/tree/develop/pyp5js/templates/pyodide) and [`pyp5js/templates/pyodide`](https://github.com/berinhard/pyp5js/tree/develop/pyp5js/templates/pyodide) are very similar. The similar files are:

- [ ] `base_sketch.py.template` - after #183 mege,  transcrypt version is **identical** to pyodide's one.
- [

[2021-10-21 21:33] berinhard opened #189 "Solid JS APi to use pyp5js"
This issue probably depends on having #188 done since it should significantly reduce the amount of duplicated JS code.

Currently, to simply use pyp5js to run a sketch via JS can be hard. Take the [demo editor]() for example. `pyp5js' forced it to be a regular sketch with a `demo.py` file when this should be unnecessary. There should be a more elegant way to use pyp5js as a JS-like library.

Of co

[2021-10-29 02:06] imlimws opened #190 "UnicodeEncodeError"
After followed all the instruction for installation, I succeeded to get to the browser [ http://127.0.0.1:5000/ ] and created a Sketch.
But when I click [ Click here ] to see the result, I get the Error as below.
I am using the Window based computer under Korean environment.

Please give me a advice to solve this problem. I really like to use Pyp5js.
------------------------------------
127.0.0.1

[2021-10-29 18:47] #157 closed

[2021-10-29 22:36] nickmcintyre opened #192 "Skulpt runtime"
Hello! I've been working on a Skulpt wrapper for p5.js and wonder if it might be of interest as another runtime for pyp5js. Here's a [repl](https://replit.com/@Sharedstrive/Strive-Starter-Py#sketch.py) that you can use to try it out.

We've modified p5.js a bit for use in our math classes (coordinate system, graphing, etc.) but the wrapper works fine without these mods.

[2021-10-29 22:43] nickmcintyre commented on #179
I made a very basic package called [jupy5](https://github.com/nickmcintyre/jupy5) that uses Skulpt for this task. It works OK in JupyterLab and on CoCalc -- the biggest limitation at the moment is that you have to open the browser console to view error messages 🤦🏽‍♂️

[2021-10-30 13:23] berinhard commented on #179
Thanks for sharing this @nickmcintyre! Yesterday I've met with Tamir and he showed me this cool experiment as well!

The issue about the errors messages in the console is indeed a problem. We have this issue #130 to document this requirement of improving error/exception log messages.

[2021-10-30 13:25] berinhard commented on #130
I have a feeling that #189 will be a facilitator to this task. The idea to expose a JS entry point as a Promise, will enable the client code to handle the errors raised from the promise. I'm just leaving this note here as a personal reminder =)

[2021-10-30 13:27] berinhard commented on #192
This probably relates with #179 too. It's possible that just adding a new `skulpt` mode in the `templates` dir and configuring the lib to accept it will do the job here and, probably, the same strategy can work for Jupyter too.

[2021-10-30 14:03] nickmcintyre commented on #192
Cool! I'll open a pull request when I have something working. One question to start re: Skulpt versions.

Our environment is based on a [Skulpt fork](https://github.com/s-cork/skulpt/tree/ffi_api) that implements a very nice FFI -- no telling if / when the FFI will be merged into the main Skulpt project. I'm also revisiting an old pull request to [add a p5 module](https://github.com/skulpt/skulpt/

[2021-10-30 14:11] berinhard commented on #190
Thanks for reporting this issue @imlimws!

Probably the error is happening due to encoding errors. For the traceback, it seems you're using `cp949` coded and this can be causing the issue.

To fix this, I'll probably have to explicitly force all open/close operations on files such as the sketch itself to explicitly set `utf-8` instead of using system's default encoding. This can be a reference:

[

[2021-10-30 14:14] berinhard commented on #190
If anyone wants to help with, here's how to reproduce it:

Replace [line 38 at compiller.py](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/compiler.py#L38) by this:

[code]

[2021-11-01 14:38] berinhard commented on #192
I'm more a fan of a default version than a custom form form Skulpt. So, maybe this old PR can be a good point to work with.

Anyway, the beast approach for me would be a more similar to what we have with pyodide and transcrypt, that is:

- A `skulpt` directory under the `pyp5js/templates/` dir;
- A skulpt `index.html.template` that should be used by pyp5js to generate the final index.js;
- A `targ

[2021-11-01 20:30] #148 closed

[2021-11-01 20:36] berinhard commented on #134
Probably once we have #189 done, this issue should also have been fixed.

[2021-11-01 20:50] berinhard commented on #132
@jvfe if you want to tackle this one, this is probably because we're overwriting the `preload` function in target sketches from both [pyodide](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/templates/pyodide/target_sketch.js.template#L377) and [transcrypt](https://github.com/berinhard/pyp5js/blob/develop/pyp5js/templates/transcrypt/pyp5js.py#L374) modes.

To fix this we should probably:

[2021-11-02 11:47] jvfe commented on #132
For sure, I'll get to work right away, thank you for the guidance. Will open a PR as soon as I have something.

[2021-11-02 15:18] berinhard opened #197 "Update demo editor "Run" button to be deactivated until Pyodide finishes loading"
Currently, if the users click on the "Run" button before the demo sketch appears, they get the following error:

[code]

But when the sketch starts to run, the run button gets back to work properly. It's probable that issue #189 will make it easier to implement this feature.

[2021-11-02 15:21] #132 closed

[2021-11-02 15:22] #190 closed

[2021-11-02 16:33] berinhard commented on #130
This should also be added to the demo editor

[2021-11-02 22:00] berinhard commented on #143
Opening this issue again after talking with @villares about how killer this feature can be =)

We can add a "Share this" button in the demo editor so the project can reach more people based on their natural engagement.

[2021-11-02 22:37] berinhard opened #198 "Clear button doesn't properly stop the sketch and"
As the title describers, the sketch keeps on execution on the demo editor even if the user clears it. This is problematic because, after multiple executions, there's a considerable memory consumption by Pyodide. This also happens if the user clicks multiple times on the Run button. The result is that multiple p5 sketches are being created by the JS and they kept running, even though they aren't vi

[2021-11-03 02:34] villares commented on #143
For reference... snipets from amazing Prof. @esperanc's https://github.com/esperanc/skulptIde/tree/master/javascript

![image](https://user-images.githubusercontent.com/3694604/140002453-d2679afb-299f-4622-bf04-e450a7613ca4.png)

![image](https://user-images.githubusercontent.com/3694604/140002478-4175f3bc-6ada-408a-9262-0bb86495ba2c.png)

![image](https://user-images.githubusercontent.com/3694604

[2021-11-03 12:47] jvfe commented on #198
Here's something I thought of that might work:

First, I believe the sketch is not stopping because the remove call is happening in the canvas object. If I change [this line in target_sketch.js](https://github.com/berinhard/pyp5js/blob/96a3f202a40df3795e4abd1fcee35652eee53cfa/docs/pyodide/target/target_sketch.js#L1677) to be:
`window.instance.remove()`

It should terminate the sketch loop complete

[2021-11-03 12:52] berinhard commented on #198
Thanks for your comment @jvfe. I agree with you that the current `remove` call seems to be wrong because it's only clearing the canvas, not the sketch itself. I think what you're proposing is a valid path to explore.

[2021-11-03 14:14] jvfe commented on #198
I tested the path I mentioned above and it seems to be working - [you can test it here](https://jvfe.github.io/pyp5js/pyodide/). Still don't know if it's the most optimal solution, but it works! hahah Sent a PR for it, in case you see it as useful.

[2021-11-03 14:20] berinhard commented on #198
Yay! thanks for the easy way to debug this =)

[2021-11-03 15:13] #198 closed

[2021-11-03 23:20] jvfe commented on #156
Hi!

I believe this to be very important and I think I could easily tackle the first two check marks in a PR (I believe the statement in the README should be written by you, though). But I just had a question, the headers to add in this case should be the **LGPL3** header and not the **GPL3** header you linked above, right? [Since the project is licensed under LGPL-3, not GPL-3](https://github.com

[2021-11-04 18:54] berinhard commented on #156
Thanks @jvfe! You're correct about using LGPL3. I'll update the task title. About the CI integration, we can base ourselves on pypi's license check. They have [this script](https://github.com/pypa/warehouse/blob/main/bin/licenses) that we could adapt to our needs and add it to the `.github/workflows/ci.yml`.

Feel free to tackle this one and open a PR.

[2021-11-05 11:11] jvfe commented on #197
A simple, but not ideal fix, would be to change [these lines](https://github.com/berinhard/pyp5js/blob/5ad4750a15b0101f49c8466ecd4cba753c6c672b/docs/pyodide/index.html#L123-L124) to be:
[code]
Then the click event would only be fired once p5's window.instance object is created.

[2021-11-07 12:41] berinhard commented on #197
@jvfe I think what you're suggesting is very reasonable. Maybe we can add an `else` condition to the `executeBtn` logic to display an alert box with a message like: "Pyodide is still loading. Please, wait a few seconds and try to run it again."

[2021-11-08 21:01] #197 closed

[2021-11-08 21:03] berinhard commented on #143
@jvfe I'm not trying to push more issues to you, but if you want to keep with your **STUNNING** contribution rate, this is a good candidate since it touches only the demo editor, where you've spent some time already.

[2021-11-09 14:31] jvfe commented on #143
Definitely, I'll take a look at the examples given and try building something. From what I've seen, skulpt basically just encodes the sketch code in base64 and adds it as a URL param. Should be a simple starting point for me.

I'll draft a PR as soon as I have something to show.

[2021-11-09 22:34] berinhard opened #202 "Display lib version when running pyp5js"
The `pyp5js` command should also display the installed version when called without arguments. The same should happen with the `pyp5js serve` command.

**Current output**

[code]

**Expected output**

[code]

[2021-11-09 22:41] berinhard opened #203 "Events are only working when passed an argument"
Event handler functions such as [keyPressed](https://p5js.org/reference/#/p5/keyPressed) or [mouseDragged](https://p5js.org/reference/#/p5/mouseDragged) from p5.js **doesn't require** any parameter to work. But pyp5js is only working if the event paremeter is present in the function definition.

So, for example, running the following code with the demo editor raises an `TypeError` as the traceback

[2021-11-09 22:43] berinhard opened #204 "Be able to delete a sketch using the local web interface"
The local web interface is accessible via `pyp5js serve` command. The idea is to add a trash icon (using font awesome maybe?) near to the sketch name that works as an input for the user to delete the sketch. When the user clicks on the trash icon, an alert dialog should ask for confirmation before really deleting.

[2021-12-09 22:15] #143 closed

[2021-12-27 13:33] peter100u opened #207 "can't run https://berinhard.github.io/pyp5js/pyodide/"
loading loading "Pyodide is still loading.\nPlease, wait a few seconds and try to run it again."

In addition, I want to run pyodide locally JS is placed in my local P5 HTML. There is no network in the laboratory. We can only run P5 for Python locally

[2021-12-27 14:25] berinhard commented on #207
Hi @peter100u,

Pyodide is a big project and it can take a while to be downloaded. The whole pyodide page demo loads 23.37 MB of data and this can lead to an error on slow network connections. I just tested the demo editor and it's working as expected. So maybe you're facing connection issues that are preventing you from using it.

`pyp5js` does have support for offline sketches as well. You can:

[2021-12-27 14:25] #207 closed

[2021-12-28 03:33] peter100u commented on #207
thank you very much

[2021-12-28 13:14] peter100u commented on #207
In that case, I still need to configure a python environment locally, which is not what I want. I just want to run locally, such as on iPad, mobile browser, etc., so I chose https://github.com/skulpt/skulpt

[2022-04-17 20:07] MrMenezes commented on #202
Would adding @click.version_option be enough?

[2022-04-24 15:24] berinhard commented on #202
Great idea @MrMenezes :+1:

[2022-04-28 05:34] imlimws opened #211 "Empty lines are being added."
On the web editor, whenever [save] is clicked, empty lines are added between code lines.
[pyp5js.pptx](https://github.com/berinhard/pyp5js/files/8579735/pyp5js.pptx)
It might not be the problem for every one but for me, this is the only reason I can't work on this lovely pyp5js unfortunately.

[2022-05-01 21:30] MrMenezes commented on #211
@imlimws Foi no windowns? Caso sim acho que enviei a correção https://github.com/berinhard/pyp5js/pull/209

[2022-05-31 06:50] Gabbinetto opened #212 "ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
I installed the library, it went fine, but as soon as I try to run a command such as `pyp5js new sketch` it gives a long error ending in `ImportError: cannot import name 'soft_unicode' from 'markupsafe'`.
Here it is the full error:
[code]
I don't know what this all means.

[2022-07-17 11:45] kishiyu commented on #212
I have same problem.
I use windows 11, Python 3.8.2.

[2022-10-15 21:52] ahdistefano commented on #212
Same here with Python 3.9.7. Looks like there might be a conflict with the dependencies versions.

[2022-11-23 17:35] berinhard commented on #211
Fixed by #209

[2022-11-23 17:35] #211 closed